{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Register to visit V5
      </br>

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {{ govukTag({
      text: "Tested",
      classes: "govuk-tag--blue"
      }) }}
    </h2>

    <p class="govuk-body">What's new:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>New date picker styles</li>
      <li>Continuous booking journey happy path</li>
      <li>Move away from registration</li>
      <li>Lots of updated content</li>
      <li>Updated GOV.UK One Login headers</li>

    </ul>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-accordian/1start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Book a visit - accordion"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-calendar/1start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Book a visit - calendar"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-unhappy1/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Email - accordion",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy1-calendar/4visitor-check-answers"
      method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Email - calendar",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-unhappy2/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Mixed approval - accordion",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-unhappy2-calendar/4visitor-check-answers"
      method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Mixed approval - calendar",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-unhappy3/5homepage" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Reserve - accordion",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="register-to-visit-v5/register-to-visit-v5-unhappy3-calendar/5homepage" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Reserve - calendar",
      classes: "govuk-button--secondary"
      }) }}
    </form>

{% endblock %}