{% extends "layouts/main.html" %}

{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Visit someone in prison",
    
    activeLinkId: 'servicelink3'
  }) }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="5choose-date" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who is going on the visit?
              </h1>
            </legend>
            <p>
              You can add up to 3 people aged 17 and over, and 4 children under 17 years old. 
              </p>
              <p>At least one visitor must be 18 or older.
            </p>

            <h2 class="govuk-heading-m">Visitors you can book for</h2>
            <p>Visitors are not shown if the prison is checking their details or they have a restriction that means they are not allowed to visit Jane Smith. </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Linda Parrell (40 years old)
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  John Smith (26 years old)
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Michael Smith (15 years old)
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Susan Smith (39 years old)
                </label>
              </div>

             

              
             
              
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
