{% extends "layouts/main.html" %}

{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Visit someone in prison",
    
    activeLinkId: 'servicelink3'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">Visit requested</h1>
        <div class="govuk-panel__body">
          Your booking reference is<br><strong>HDJ2123F</strong>
        </div>
      </div>
  

      <h2 class="govuk-heading-m">Booking will be reviewed</h2>
      
      <p>Your visit is not booked yet. It needs to be checked.</p>
      
      <p>Drake Hall will approve or reject your request by Thursday 14 December 2023.</p>
      
      <p>If you provided a contact method, the main contact will be notified of the decision.</p>
      
      <p><a href="5homepage" class="govuk-link govuk-link--no-visited-state">Your prison visits account</a> also shows the visitors you can book for. </p>

      <form class="form" action="/online-booking/online-booking-index" method="post">
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
        text: "Back to start"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
