{% extends "layouts/main.html" %}
{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Visit someone in prison",
    
    activeLinkId: 'servicelink3'
  }) }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Booking a visit at Drake Hall
      </h1>

      

      <form class="form" action="3prisoner-name" method="post">

      
        <p>You will need to submit details about the prisoner and visitors.</p>
          
        <p>This will need to match visitor details submitted by the prisoner.</p>
    
        <p>Once these details are matched, you will not need to submit them again to book more visits.</p>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

        

      </form>

    </div>
  </div>

{% endblock %}
