.establishment-roll {
    margin-bottom: 15px
  }
  
  @media print,(min-width: 769px) {
    .establishment-roll {
      display:flex;
      flex-wrap: wrap;
      width: 100%
    }
  }
  
  @media(min-width: 48.0625em) {
    .establishment-roll {
      width:75%
    }
  }
  
  .establishment-roll__label-and-value {
    display: flex;
    align-items: flex-end;
    justify-content: space-between
  }
  
  @media print,(min-width: 769px) {
    .establishment-roll__label-and-value {
      flex-basis:50%;
      padding-right: 30px
    }
  }
  
  @media print,(min-width: 769px) {
    .establishment-roll__label-and-value--with-space {
      flex-basis:33%
    }
  }
  
  .homepage-search {
    padding: 30px 0;
    background-color: #e0eef8
  }
  
  .homepage-content {
    padding: 30px 0;
    background: #f0f4f5
  }
  
  .card {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d9dadb;
    position: relative;
    width: 100%;
    padding: 25px
  }
  
  .card__heading {
    margin-top: 0;
    margin-bottom: 15px
  }
  
  .card__description {
    margin-bottom: 0
  }
  
  .card--clickable {
    border-bottom-width: 5px
  }
  
  .card--clickable:hover,.card--clickable:active {
    cursor: pointer
  }
  
  .card--clickable:hover .card__heading a,.card--clickable:hover .card__link,.card--clickable:active .card__heading a,.card--clickable:active .card__link {
    color: #003078;
    text-decoration: none
  }
  
  .card--clickable:hover .card__heading a:focus,.card--clickable:hover .card__link:focus,.card--clickable:active .card__heading a:focus,.card--clickable:active .card__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
  }
  
  .card--clickable:hover {
    border-color: #b1b4b6
  }
  
  .card--clickable:active {
    border-color: #b1b4b6;
    bottom: -1px
  }
  
  .card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 0
  }
  
  @media(max-width: 48.0525em) {
    .card-group {
      margin-bottom:30px
    }
  }
  
  .card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0
  }
  
  @media(max-width: 48.0525em) {
    .card-group__item {
      flex:0 0 100%
    }
  }
  
  .card-group__item .card {
    margin-bottom: 25px
  }
  
  @media(max-width: 48.0525em) {
    .card-group__item .card {
      margin-bottom:15px
    }
  
    .card-group__item:last-child .card {
      margin-bottom: 0
    }
  }
  
  
  .nhsuk-card {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-card {
      margin-bottom:48px
    }
  }
  
  .nhsuk-card__img {
    border-bottom: 1px solid #f0f4f5;
    display: block;
    width: 100%
  }
  
  @media print {
    .nhsuk-card__img {
      display: none
    }
  }
  
  .nhsuk-card__content {
    padding: 24px;
    position: relative
  }
  
  .nhsuk-card__content>*:first-child {
    margin-top: 0
  }
  
  .nhsuk-card__content>*:last-child {
    margin-bottom: 0
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-card__content {
      padding:32px
    }
  }
  
  .nhsuk-card__heading,.nhsuk-card__metadata,.nhsuk-card__description {
    margin-bottom: 16px
  }
  
  .nhsuk-card--clickable {
    border-bottom-width: 4px
  }
  
  .nhsuk-card--clickable:hover,.nhsuk-card--clickable:active {
    cursor: pointer
  }
  
  .nhsuk-card--clickable:hover .nhsuk-card__heading a,.nhsuk-card--clickable:hover .nhsuk-card__link,.nhsuk-card--clickable:active .nhsuk-card__heading a,.nhsuk-card--clickable:active .nhsuk-card__link {
    color: #7C2855;
    text-decoration: none
  }
  
  .nhsuk-card--clickable:hover .nhsuk-card__heading a:focus,.nhsuk-card--clickable:hover .nhsuk-card__link:focus,.nhsuk-card--clickable:active .nhsuk-card__heading a:focus,.nhsuk-card--clickable:active .nhsuk-card__link:focus {
    color: #212b32
  }
  
  .nhsuk-card--clickable:hover {
    border-color: #aeb7bd
  }
  
  .nhsuk-card--clickable:active {
    border-color: #aeb7bd;
    bottom: -1px
  }
  
  .nhsuk-card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0
  }
  
  @media (max-width: 48.0525em) {
    .nhsuk-card-group {
      margin-bottom:40px
    }
  }
  
  .nhsuk-card-group+h2,.nhsuk-card-group+.nhsuk-heading-l,.nhsuk-card-group+h3,.nhsuk-card-group+.nhsuk-heading-m {
    padding-top: 0
  }
  
  .nhsuk-card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0
  }
  
  @media (max-width: 48.0525em) {
    .nhsuk-card-group__item {
      flex:0 0 100%
    }
  }
  
  .nhsuk-card-group__item .nhsuk-card {
    margin-bottom: 32px
  }
  
  @media (max-width: 48.0525em) {
    .nhsuk-card-group__item .nhsuk-card {
      margin-bottom:16px
    }
  
    .nhsuk-card-group__item:last-child .nhsuk-card {
      margin-bottom: 0
    }
  }
  
  .nhsuk-card--feature {
    margin-top: 40px
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-card--feature {
      margin-top:48px
    }
  }
  
  .nhsuk-card__heading--feature {
    background: #005eb8;
    color: #fff;
    display: inline-block;
    left: -25px;
    margin-bottom: 8px;
    margin-right: -24px;
    padding: 8px 24px;
    position: relative;
    top: -8px
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-card__heading--feature {
      left:-33px;
      margin-right: -32px;
      padding: 8px 32px;
      top: -16px
    }
  }
  
  .nhsuk-card__content--feature {
    padding-top: 0 !important
  }
  
  .nhsuk-care-card {
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid transparent
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card {
      margin-bottom:48px
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card {
      margin-top:48px
    }
  }
  
  .nhsuk-care-card .nhsuk-care-card__heading-container {
    background-color: #005eb8;
    color: #fff
  }
  
  @media print {
    .nhsuk-care-card {
      border: 4px solid #212b32;
      color: #212b32;
      page-break-inside: avoid
    }
  }
  
  .nhsuk-care-card__heading-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    position: relative
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__heading-container {
      padding-left:32px
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__heading-container {
      padding-right:32px
    }
  }
  
  .nhsuk-care-card__arrow {
    bottom: -10px;
    display: block;
    height: 20px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    transform: rotate(45deg);
    width: 20px
  }
  
  @media print {
    .nhsuk-care-card__arrow {
      display: none
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__arrow {
      left:38px
    }
  }
  
  .nhsuk-care-card__arrow:before,.nhsuk-care-card__arrow:after {
    border: solid 32px #005eb8;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 0
  }
  
  .nhsuk-care-card__heading {
    font-weight: 600;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0;
    padding-top: 0
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__heading {
      font-size:24px;
      font-size: 1.5rem;
      line-height: 1.33333
    }
  }
  
  @media print {
    .nhsuk-care-card__heading {
      font-size: 18pt;
      line-height: 1.15
    }
  }
  
  @media print {
    .nhsuk-care-card__heading {
      color: #212b32;
      fill: #212b32
    }
  
    .nhsuk-care-card__heading:active,.nhsuk-care-card__heading:focus,.nhsuk-care-card__heading:visited {
      color: #212b32
    }
  }
  
  .nhsuk-care-card__content {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
    border: 1px solid #d8dde0;
    border-top: 0;
    padding-top: 32px
  }
  
  .nhsuk-care-card__content>*:first-child {
    margin-top: 0
  }
  
  .nhsuk-care-card__content>*:last-child {
    margin-bottom: 0
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__content {
      padding-bottom:32px
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__content {
      padding-left:32px
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__content {
      padding-right:32px
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhsuk-care-card__content {
      padding-bottom:32px;
      padding-top: 36px
    }
  }
  
  @media print {
    .nhsuk-care-card__content {
      color: #212b32;
      fill: #212b32
    }
  
    .nhsuk-care-card__content:active,.nhsuk-care-card__content:focus,.nhsuk-care-card__content:visited {
      color: #212b32
    }
  }
  
  .nhsuk-care-card--urgent .nhsuk-care-card__heading-container {
    background-color: #d5281b;
    color: #fff
  }
  
  @media print {
    .nhsuk-care-card--urgent {
      border: 6px solid #212b32;
      color: #212b32;
      page-break-inside: avoid
    }
  }
  
  .nhsuk-care-card--urgent .nhsuk-care-card__arrow:before,.nhsuk-care-card--urgent .nhsuk-care-card__arrow:after {
    border-color: #d5281b
  }
  
  .nhsuk-care-card--immediate .nhsuk-care-card__heading-container {
    background-color: #d5281b;
    color: #fff
  }
  
  @media print {
    .nhsuk-care-card--immediate {
      border: 8px solid #212b32;
      color: #212b32;
      page-break-inside: avoid
    }
  }
  
  .nhsuk-care-card--immediate .nhsuk-care-card__arrow:before,.nhsuk-care-card--immediate .nhsuk-care-card__arrow:after {
    border-color: #d5281b
  }
  
  .nhsuk-care-card--immediate .nhsuk-care-card__content {
    background-color: #212b32;
    border: 0;
    color: #fff
  }
  
  .nhsuk-care-card--immediate .nhsuk-care-card__content a {
    color: #fff
  }
  
  .nhsuk-care-card--immediate .nhsuk-care-card__content a:focus {
    color: #212b32
  }
  
  .nhsuk-care-card--immediate .nhsuk-details,.nhsuk-care-card--immediate .nhsuk-details__summary {
    color: #fff
  }
  
  .nhsuk-care-card--immediate .nhsuk-details__summary:hover {
    color: #fff
  }
  
  .nhsuk-care-card--immediate .nhsuk-details__summary:focus {
    color: #212b32
  }
  
  .nhsuk-care-card--immediate .nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
    fill: #fff
  }