//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

$govuk-global-styles: true;
$govuk-new-typography-scale: true;

@import 'cards';
@import 'homepage';

.floating-button {
  @include govuk-media-query($until: desktop) {
    padding: govuk-spacing(5) 0 govuk-spacing(2) 0;
    background-color: govuk-colour("light-grey");
    border-top: 1px solid govuk-colour("mid-grey");
    position: sticky;
    bottom: 0;
    width: 100vw;
    margin-left: govuk-spacing(-3);
    @include govuk-media-query(tablet) {
      margin-left: govuk-spacing(-6);
    }

    & > .govuk-button {
      margin-left: 5%;
      width: 90%;
    }
  }
}

.calendar-slots {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;

  & > li {
    flex-basis: 2rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0.5rem;
  }

  & a {
    @include govuk-link-style-no-visited-state;
    font-weight: bold;
  }

  & a:focus {
    background-color: govuk-colour("blue");
    box-shadow: none;
  }
}

.calendar-slots__day {
  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

li.calendar-slots__active {
  background-color: govuk-colour("blue");
  border-radius: 50%;

  & > a {
    font-weight: bold;
    color: white !important;
    text-decoration: none;
    cursor: default;
  }
}

.day-slots,
.calendar-slot-button {
  display: none;
}

.day-slots__active,
.calendar-slot-button__active {
  display: block;
}

  .today-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .today-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 198px;
    width: 270px;
    padding: 15px 15px 20px 15px;
    border: 1px solid govuk-colour('black');
    box-shadow: 0 4px govuk-colour('mid-grey');

    &__h3 {
      font-size: 19px;
      margin: 0;
    }

    &__count {
      font-size: 48px;
      font-weight: 700;
    }

    &__link {
      padding-top: 15px;
      border-top: 1px solid govuk-colour('mid-grey');
      margin-top: auto;
    }
  }

.today-section-break--blue {
  height: 3px;
  background-color: govuk-colour('blue');
  border: none;
  margin-top: 35px;
  margin-bottom: 30px;
}

.custom-blue-panel {
  background-color: #1d70b8;
  color: white;
}

.contact-search {
  gap: 15px;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}
