{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set backLinkHref = true %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block header %}
    {{ govukHeader({
        homepageUrl: "/public"
    }) }}
{% endblock %}

{% block pageTitle %}
    Which prison are you visiting? – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ xGovukAutocomplete({
        id: "country",
        name: "country",
        allowEmpty: false,
        label: {
          classes: "govuk-label--l",
          isPageHeading: true,
          text: "Which prison are you visiting?"
        },
        items: [
        { "text": "Altcourse (HMP & YOI)" },
        { "text": "Askham Grange (HMP & YOI)" },
        { "text": "Ashfield (HMP)" },
        { "text": "Aylesbury (HMP)" },
        { "text": "Belmarsh (HMP)" },
        { "text": "Buckley Hall (HMP)" },
        { "text": "Bedford (HMP)" },
        { "text": "Bristol (HMP)" },
        { "text": "Birmingham (HMP)" },
        { "text": "Bullingdon (HMP)" },
        { "text": "Bure (HMP)" },
        { "text": "Brinsford (HMP & YOI)" },
        { "text": "Berwyn (HMP)" },
        { "text": "Brixton (HMP)" },
        { "text": "Bronzefield (HMP & YOI)" },
        { "text": "Chelmsford (HMP & YOI)" },
        { "text": "Cardiff (HMP)" },
        { "text": "Cookham Wood (HMP)" },
        { "text": "Coldingley (HMP)" },
        { "text": "Channings Wood (HMP)" },
        { "text": "Dartmoor (HMP)" },
        { "text": "Dovegate (HMP)" },
        { "text": "Drake Hall (HMP & YOI)" },
        { "text": "Durham (HMP)" },
        { "text": "Doncaster (HMP)" },
        { "text": "Deerbolt (HMP & YOI)" },
        { "text": "Downview (HMP & YOI)" },
        { "text": "Erlestoke (HMP)" },
        { "text": "Standford Hill (HMP)" },
        { "text": "East Sutton Park (HMP & YOI)" },
        { "text": "Eastwood Park (HMP & YOI)" },
        { "text": "Exeter (HMP)" },
        { "text": "Elmley (HMP)" },
        { "text": "Forest Bank (HMP)" },
        { "text": "Ford (HMP)" },
        { "text": "Fosse Way (HMP)" },
        { "text": "Foston Hall (HMP & YOI)" },
        { "text": "Frankland (HMP)" },
        { "text": "Feltham B (HMP & YOI)" },
        { "text": "Full Sutton (HMP)" },
        { "text": "Featherstone (HMP)" },
        { "text": "Five Wells (HMP)" },
        { "text": "Feltham A (HMYOI)" },
        { "text": "Garth (HMP)" },
        { "text": "Guys Marsh (HMP)" },
        { "text": "Grendon (HMP)" },
        { "text": "Gartree (HMP)" },
        { "text": "Hollesley Bay (HMP & YOI)" },
        { "text": "Huntercombe (HMP)" },
        { "text": "Hatfield (HMP & YOI)" },
        { "text": "Hewell (HMP)" },
        { "text": "Holme House (HMP)" },
        { "text": "Hindley (HMP & YOI)" },
        { "text": "Hull (HMP)" },
        { "text": "Humber (HMP)" },
        { "text": "High Down (HMP & YOI)" },
        { "text": "Highpoint (HMP)" },
        { "text": "Haverigg (HMP)" },
        { "text": "Isis (HMP & YOI)" },
        { "text": "Isle Of Wight (HMP)" },
        { "text": "Kirkham (HMP)" },
        { "text": "Kirklevington Grange (HMP)" },
        { "text": "Leicester (HMP)" },
        { "text": "Leeds (HMP)" },
        { "text": "Lancaster Farms (HMP)" },
        { "text": "Lowdham Grange (HMP)" },
        { "text": "Lindholme (HMP)" },
        { "text": "Lincoln (HMP & YOI)" },
        { "text": "Long Lartin (HMP)" },
        { "text": "Low Newton (HMP & YOI)" },
        { "text": "Liverpool (HMP)" },
        { "text": "Littlehey (HMP)" },
        { "text": "Lewes (HMP)" },
        { "text": "Leyhill (HMP)" },
        { "text": "Moorland (HMP & YOI)" },
        { "text": "Morton Hall (HMP)" },
        { "text": "Millsike (HMP)" },
        { "text": "Manchester (HMP)" },
        { "text": "Maidstone (HMP)" },
        { "text": "The Mount (HMP)" },
        { "text": "New Hall (HMP & YOI)" },
        { "text": "Northumberland (HMP)" },
        { "text": "Nottingham (HMP)" },
        { "text": "North Sea Camp (HMP)" },
        { "text": "Norwich (HMP & YOI)" },
        { "text": "Onley (HMP)" },
        { "text": "Oakwood (HMP)" },
        { "text": "Peterborough (HMP & YOI)" },
        { "text": "Portland (HMP & YOI)" },
        { "text": "Peterborough Female (HMP & YOI)" },
        { "text": "Preston (HMP)" },
        { "text": "Parc (HMP)" },
        { "text": "Pentonville (HMP & YOI)" },
        { "text": "Parc (HMYOI)" },
        { "text": "Rochester (HMP & YOI)" },
        { "text": "Rye Hill (HMP)" },
        { "text": "Ranby (HMP)" },
        { "text": "Risley (HMP)" },
        { "text": "Send (HMP)" },
        { "text": "Stafford (HMP)" },
        { "text": "Stoke Heath (HMP & YOI)" },
        { "text": "Stocken (HMP)" },
        { "text": "Swaleside (HMP)" },
        { "text": "Swinfen Hall (HMP & YOI)" },
        { "text": "Spring Hill (HMP)" },
        { "text": "Oakhill (STC)" },
        { "text": "Styal (HMP & YOI)" },
        { "text": "Sudbury (HMP)" },
        { "text": "Swansea (HMP)" },
        { "text": "Thorn Cross (HMP & YOI)" },
        { "text": "Thameside (HMP)" },
        { "text": "Usk (HMP)" },
        { "text": "Prescoed (HMP & YOI)" },
        { "text": "The Verne (HMP)" },
        { "text": "Winchester (HMP & YOI)" },
        { "text": "Wakefield (HMP)" },
        { "text": "Wealstun (HMP)" },
        { "text": "Woodhill (HMP & YOI)" },
        { "text": "Warren Hill (HMP)" },
        { "text": "Wayland (HMP)" },
        { "text": "Wymott (HMP)" },
        { "text": "Werrington (HMYOI)" },
        { "text": "Whitemoor (HMP)" },
        { "text": "Wormwood Scrubs (HMP)" },
        { "text": "Whatton (HMP)" },
        { "text": "Wandsworth (HMP)" },
        { "text": "Wetherby (HMYOI)" }
        
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

      <h2 class="govuk-heading-m">What if I don’t know the prisoner’s location?</h2>

      <p>You can <a href="https://www.gov.uk/find-prisoner" class="govuk-link">apply to find the prisoner’s location</a>.</p></p>


    </div>

</div>

{% endblock %}