{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set backLinkHref = true %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}



{% block header %}
    {{ govukHeader({
        homepageUrl: "/public",
        classes: "govuk-header--full-width-border"
    }) }}

    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: "./public"
    }) }}
{% endblock %}

{% block pageTitle %}
    Which prison are you visiting? – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ xGovukAutocomplete({
        id: "country",
        name: "country",
        allowEmpty: false,
        label: {
          classes: "govuk-label--l",
          isPageHeading: true,
          text: "Which prison are you visiting?"
        },
        items: [
        {
            "text": "Altcourse (HMP & YOI)"
        },
        {
            "text": "Ashfield (HMP)"
        },
        {
            "text": "Askham Grange (HMP & YOI)"
        },
        {
            "text": "Aylesbury (HMP)"
        },
        {
            "text": "Bedford (HMP)"
        },
        {
            "text": "Belmarsh (HMP)"
        },
        {
            "text": "Berwyn (HMP)"
        },
        {
            "text": "Birmingham (HMP)"
        },
        {
            "text": "Brinsford (HMP & YOI)"
        },
        {
            "text": "Bristol (HMP)"
        },
        {
            "text": "Brixton (HMP)"
        },
        {
            "text": "Bronzefield (HMP & YOI)"
        },
        {
            "text": "Buckley Hall (HMP)"
        },
        {
            "text": "Bullingdon (HMP)"
        },
        {
            "text": "Bure (HMP)"
        },
        {
            "text": "Cardiff (HMP)"
        },
        {
            "text": "Channings Wood (HMP)"
        },
        {
            "text": "Chelmsford (HMP & YOI)"
        },
        {
            "text": "Coldingley (HMP)"
        },
        {
            "text": "Cookham Wood (HMP)"
        },
        {
            "text": "Dartmoor (HMP)"
        },
        {
            "text": "Deerbolt (HMP & YOI)"
        },
        {
            "text": "Doncaster (HMP)"
        },
        {
            "text": "Dovegate (HMP)"
        },
        {
            "text": "Downview (HMP & YOI)"
        },
        {
            "text": "Drake Hall (HMP & YOI)"
        },
        {
            "text": "Durham (HMP)"
        },
        {
            "text": "East Sutton Park (HMP & YOI)"
        },
        {
            "text": "Eastwood Park (HMP & YOI)"
        },
        {
            "text": "Elmley (HMP)"
        },
        {
            "text": "Erlestoke (HMP)"
        },
        {
            "text": "Exeter (HMP)"
        },
        {
            "text": "Featherstone (HMP)"
        },
        {
            "text": "Feltham A (HMYOI)"
        },
        {
            "text": "Feltham B (HMP & YOI)"
        },
        {
            "text": "Five Wells (HMP)"
        },
        {
            "text": "Ford (HMP)"
        },
        {
            "text": "Forest Bank (HMP)"
        },
        {
            "text": "Fosse Way (HMP)"
        },
        {
            "text": "Foston Hall (HMP & YOI)"
        },
        {
            "text": "Frankland (HMP)"
        },
        {
            "text": "Full Sutton (HMP)"
        },
        {
            "text": "Garth (HMP)"
        },
        {
            "text": "Gartree (HMP)"
        },
        {
            "text": "Grendon (HMP)"
        },
        {
            "text": "Guys Marsh (HMP)"
        },
        {
            "text": "Hatfield (HMP & YOI)"
        },
        {
            "text": "Haverigg (HMP)"
        },
        {
            "text": "Hewell (HMP)"
        },
        {
            "text": "High Down (HMP & YOI)"
        },
        {
            "text": "Highpoint (HMP)"
        },
        {
            "text": "Hindley (HMP & YOI)"
        },
        {
            "text": "Hollesley Bay (HMP & YOI)"
        },
        {
            "text": "Holme House (HMP)"
        },
        {
            "text": "Hull (HMP)"
        },
        {
            "text": "Humber (HMP)"
        },
        {
            "text": "Huntercombe (HMP)"
        },
        {
            "text": "Isis (HMP & YOI)"
        },
        {
            "text": "Isle Of Wight (HMP)"
        },
        {
            "text": "Kirkham (HMP)"
        },
        {
            "text": "Kirklevington Grange (HMP)"
        },
        {
            "text": "Lancaster Farms (HMP)"
        },
        {
            "text": "Leeds (HMP)"
        },
        {
            "text": "Leicester (HMP)"
        },
        {
            "text": "Lewes (HMP)"
        },
        {
            "text": "Leyhill (HMP)"
        },
        {
            "text": "Lincoln (HMP & YOI)"
        },
        {
            "text": "Lindholme (HMP)"
        },
        {
            "text": "Littlehey (HMP)"
        },
        {
            "text": "Liverpool (HMP)"
        },
        {
            "text": "Long Lartin (HMP)"
        },
        {
            "text": "Low Newton (HMP & YOI)"
        },
        {
            "text": "Lowdham Grange (HMP)"
        },
        {
            "text": "Maidstone (HMP)"
        },
        {
            "text": "Manchester (HMP)"
        },
        {
            "text": "Millsike (HMP)"
        },
        {
            "text": "Moorland (HMP & YOI)"
        },
        {
            "text": "Morton Hall (HMP)"
        },
        {
            "text": "New Hall (HMP & YOI)"
        },
        {
            "text": "North Sea Camp (HMP)"
        },
        {
            "text": "Northumberland (HMP)"
        },
        {
            "text": "Norwich (HMP & YOI)"
        },
        {
            "text": "Nottingham (HMP)"
        },
        {
            "text": "Oakhill (STC)"
        },
        {
            "text": "Oakwood (HMP)"
        },
        {
            "text": "Onley (HMP)"
        },
        {
            "text": "Parc (HMP)"
        },
        {
            "text": "Parc (HMYOI)"
        },
        {
            "text": "Pentonville (HMP & YOI)"
        },
        {
            "text": "Peterborough (HMP & YOI)"
        },
        {
            "text": "Peterborough Female (HMP & YOI)"
        },
        {
            "text": "Portland (HMP & YOI)"
        },
        {
            "text": "Prescoed (HMP & YOI)"
        },
        {
            "text": "Preston (HMP)"
        },
        {
            "text": "Ranby (HMP)"
        },
        {
            "text": "Risley (HMP)"
        },
        {
            "text": "Rochester (HMP & YOI)"
        },
        {
            "text": "Rye Hill (HMP)"
        },
        {
            "text": "Send (HMP)"
        },
        {
            "text": "Spring Hill (HMP)"
        },
        {
            "text": "Stafford (HMP)"
        },
        {
            "text": "Standford Hill (HMP)"
        },
        {
            "text": "Stocken (HMP)"
        },
        {
            "text": "Stoke Heath (HMP & YOI)"
        },
        {
            "text": "Styal (HMP & YOI)"
        },
        {
            "text": "Sudbury (HMP)"
        },
        {
            "text": "Swaleside (HMP)"
        },
        {
            "text": "Swansea (HMP)"
        },
        {
            "text": "Swinfen Hall (HMP & YOI)"
        },
        {
            "text": "Thameside (HMP)"
        },
        {
            "text": "The Mount (HMP)"
        },
        {
            "text": "The Verne (HMP)"
        },
        {
            "text": "Thorn Cross (HMP & YOI)"
        },
        {
            "text": "Usk (HMP)"
        },
        {
            "text": "Wakefield (HMP)"
        },
        {
            "text": "Wandsworth (HMP)"
        },
        {
            "text": "Warren Hill (HMP)"
        },
        {
            "text": "Wayland (HMP)"
        },
        {
            "text": "Wealstun (HMP)"
        },
        {
            "text": "Werrington (HMYOI)"
        },
        {
            "text": "Wetherby (HMYOI)"
        },
        {
            "text": "Whatton (HMP)"
        },
        {
            "text": "Whitemoor (HMP)"
        },
        {
            "text": "Winchester (HMP & YOI)"
        },
        {
            "text": "Woodhill (HMP & YOI)"
        },
        {
            "text": "Wormwood Scrubs (HMP)"
        },
        {
            "text": "Wymott (HMP)"
        }
    ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./intro"
        }) }}
      </div>

      <h2 class="govuk-heading-m">What if I don’t know the prisoner’s location?</h2>

      <p>You can <a href="https://www.gov.uk/find-prisoner" class="govuk-link">apply to find the prisoner’s location</a>.</p></p>

    </div>

</div>

{% endblock %}