{% extends "./layouts/footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block header %}
    {{ govukHeader({
        rebrand: true,
        homepageUrl: "/public"
    }) }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
collapseOnMobile: true,
items: [
    {
    text: "Home",
    href: "#"
    },
    {
    text: "Crime, justice and the law",
    href: "#"
    },
    {
    text: "Prisons and probation",
    href: "#"
    }
    ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {{ serviceName }}
        </h1>

        <div>
            <p>This new service can be used to visit one prisoner in:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Foston Hall (HMP & YOI)</li>
                <li>Drake Hall (HMP & YOI)</li>
            </ul>

            <p>If you need to visit someone in another prison or visit more than one prisoner, <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales" class="govuk-link">contact the prison directly</a>.</p>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p>You will need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the name, prison number and date of birth for the prisoner</li>
                <li>the names and dates of birth for visitors</li>
            </ul>

            <p>You only need to supply this information once. Checks usually take 2 working days but can take up to 5 working days.</p>

            <p>After this check, you can book a visit.</p>

            <p>You will also need to sign in or create a GOV.UK One Login to use this service.</p>

            {{ govukButton({ text: 
                "Start now", 
                href: "/public", 
                isStartButton: true }) }}

            <h2 class="govuk-heading-m">Visits you cannot book online</h2>

            <p><a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales" class="govuk-link">Contact the prison directly</a> if you need to arrange any of the following:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>legal visits, for example legal professionals discussing the prisoner’s case</li>
                <li>reception visits, for example the first visit to the prisoner within 72 hours of being admitted</li>
                <li>double visits, for example visiting for 2 hours instead of 1</li>
                <li>family day visits - special family events that the prison organises</li>
            </ul>

            <h2 class="govuk-heading-m">Help with the cost of prison visits</h2>

            <p>You may be able to <a href="https://www.gov.uk/help-with-prison-visits" class="govuk-link">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                    Staying in touch with someone in prison
                </a>
              </li>
              <li>
                <a href="#">
                    Send money to someone in prison
                </a>
              </li>
              <li>
                <a href="#">
                    Get help with the cost of prison visits
                </a>
              </li>
              <li>
                <a href="#">
                    Apply to find a prisoner’s location
                </a>
              </li>
            </ul>
          </nav>
        </aside>
  
      </div>
</div>

{% endblock %}