{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set govukRebrand = true %}

{% block header %}
    {{ govukHeader({
        homepageUrl: "/public",
        rebrand: true
    }) }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
collapseOnMobile: true,
items: [
    {
    text: "Home",
    href: "#"
    },
    {
    text: "Crime, justice and the law",
    href: "#"
    },
    {
    text: "Prisons and probation",
    href: "#"
    }
    ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {{ serviceName }}
        </h1>

        <div>
            <p>Use this service to book a social visit to a prisoner in England or Wales.</p>

            <p>You can make a booking for yourself or for someone else.</p>

            <p>There’s a different way to book a <a href="https://www.justice-ni.gov.uk/topics/prison-visits" class="govuk-link">prison visit in Northern Ireland</a> or a <a href="https://www.sps.gov.uk/family-and-friends/visits" class="govuk-link">prison visit in Scotland</a>.</p>

            <p>To use this service you need the:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>dates of birth for all visitorsr</li>
                <li>prisoner’s date of birth</li>
                <li>prison number</li>
                <li>prison location</li>
            </ul>

            <p>You can <a href="https://www.gov.uk/find-prisoner" class="govuk-link">apply to find a prisoner’s location</a>if you do not know which prison they’re in.</p>

            {{ govukInsetText({
              text: "The prisoner must add someone to their visitor list before they can booked on a visit. This can take up to 2 weeks."
            }) }}

            <h2 class="govuk-heading-m">Book a prison visit</h2>

            {{ govukButton({ text: 
                "Start now", 
                href: "./select-prison", 
                isStartButton: true }) 
            }}

            <h2 class="govuk-heading-m">Visits you cannot book through this service</h2>

            <p><a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales" class="govuk-link">Contact the prison directly</a> if you need to arrange any of the following:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>legal visits, for example legal professionals discussing the prisoner’s case</li>
                <li>reception visits, for example the first visit to the prisoner within 72 hours of being admitted</li>
                <li>double visits, for example visiting for 2 hours instead of 1</li>
                <li>family day visits - special family events that the prison organises</li>
            </ul>

            <h2 class="govuk-heading-m">Help with the cost of prison visits</h2>

            <p>You may be able to <a href="https://www.gov.uk/help-with-prison-visits" class="govuk-link">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                    Staying in touch with someone in prison
                </a>
              </li>
              <li>
                <a href="#">
                    Send money to someone in prison
                </a>
              </li>
              <li>
                <a href="#">
                    Get help with the cost of prison visits
                </a>
              </li>
              <li>
                <a href="#">
                    Apply to find a prisoner’s location
                </a>
              </li>
            </ul>
          </nav>
        </aside>
  
      </div>
</div>

{% endblock %}

{% block footer %}

  {{ govukFooter({
    rebrand: true,
    meta: {
      items: [
        {
          href: "/public/mvp+4/support/accessibility-statement",
          text: "Accessibility"
        },
        {
          href: "/public/mvp+4/support/cookies",
          text: "Cookies"
        },
        {
          href: "/public/mvp+4/support/privacy-notice",
          text: "Privacy"
        },
        {
          href: "/public/mvp+4/support/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}

{% endblock %}
