{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search for the visitor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Search for the visitor</h1>

      <form class="form" action="searchresults" method="post">

<div class="horizontal-form" style="padding-bottom: 15px;">
        {{ govukInput({
          label: {
            text: "Enter visitor name"
          },
          classes: "govuk-input--width-20",
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukButton({
          text: "Search"
        }) }}
</div>

{% set filterHtml %}

        {{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Date of birth (optional)",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  }
        }) }}
        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "event-name",
          name: "event-name",
  hint: {
    text: "For example, N5 1FG"
  }
        }) }}
{% endset %}


        {{ govukDetails({
            summaryText: "Filters",
            html: filterHtml
            }) }}




      </form>

    </div>
  </div>

{% endblock %}
