{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ 
      govukHeader({
          homepageUrl: "/",
          serviceName: serviceName,
          serviceUrl: "/",
          containerClasses: "govuk-width-container",
          useTudorCrown: true
      })
}}


{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Public service',
      href: '/'
    },
    {
      text: 'Staff service',
      href: '/assisted-digital/assisted-digital-index.html',
      active: true
    }
  ]
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Manage prison visits
    </h1>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Old prototypes
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><a href="archived/AJ03_amend_a_visit_V2/managepv.html"
            class="govuk-link">AJ03 Amend a visit V2</a></p>
        <p class="govuk-body"><a href="archived/AJ03_amend_a_visit/" class="govuk-link">AJ03 Amend a
            visit V1</a></p>
        <p class="govuk-body"><a href="archived/AJ02_book_a_visit_on_behalf_1_V5/"
            class="govuk-link">AJ02 Book a visit on behalf V5</a></p>
        <p class="govuk-body"><a href="archived/AJ02_book_a_visit_on_behalf_1_V4/"
            class="govuk-link">AJ02 Book a visit on behalf V4</a></p>
        <p class="govuk-body"><a href="archived/AJ02_book_a_visit_on_behalf_1_V3/"
            class="govuk-link">AJ02 Book a visit on behalf V3</a></p>
        <p class="govuk-body"><a href="archived/AJ02_book_a_visit_on_behalf_1_V2/"
            class="govuk-link">AJ02 Book a visit on behalf V2</a></p>
        <p class="govuk-body"><a href="archived/AJ02_book_a_visit_on_behalf_1_V1/"
            class="govuk-link">AJ02 Book a visit on behalf V1</a></p>
        <p class="govuk-body"><a href="archived/AJ01_book_a_visit_1/" class="govuk-link">AJ01 Book a
            visit V1</a></p>
    </details>
  </div>
  </div>
</div>
{% endblock %}