{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set titleText = "Contacts" %}
{% set titleDesc = "A staff service for managing prisoner contacts." %}
{% set pageHeaderTitle = "Digital Prison Services - Contacts - Prototypes" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      MVP
    </h2>

    <p class="govuk-body">TBC</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/dps/contacts/">initial read only service</a>
      </li>
      <li>
        <a class="govuk-link" href="/dps/contacts/future.html">future ideas for the service</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}