{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set titleText = "Contacts" %}
{% set titleDesc = "A staff service for managing prisoner contacts." %}
{% set pageHeaderTitle = "Digital Prison Services - Contacts - Prototypes" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      October 2025
    </h2>

    <p class="govuk-body">TBC</p>
    
  </div>
</div>

{% endblock %}
