{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Digital Prison Services - Contacts - Prototypes" %}
{% set backLinkHref = true %}

{% block content %}

<h1 class="govuk-heading-l">Contacts</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      2026
    </h2>

    <h3 class="govuk-heading-s">
      Demo ready
    </h3>
    <ul class="govuk-list govuk-list--bullet"> 
      <li>TBC</li>
    </ul>

    <h3 class="govuk-heading-s">
      In development
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/dps/contacts/">initial read only service</a></li>
    </ul>

    <h3 class="govuk-heading-s">
      Exploration
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/dps/contacts/future.html">homepage for future ideas for the service</a></li>
        <ul class="govuk-list govuk-list--bullet">
          <li>contact requests</li>
          <li>duplicate contacts</li>
          <li>contract restrictions management</li>
          <li>contacts with missing information</li>
          <li>prisoners with no contacts</li>
          <li>prisoners with no emergency contact</li>
        </ul>
    </ul>

  </div>
</div>

{% endblock %}