{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Digital Prison Services - " + data['app-name'] + " - Prototypes" %}
{% set backLinkHref = true %}

{% block content %}

<h1 class="govuk-heading-l">{{ data['app-name'] }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      2026
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/dps/visits/prisoner#past-week">updated VO management experience</a>
      </li>
      <li>
        <a class="govuk-link" href="/dps/visits/bookers/scenario1/search">manage online bookers experience - scenario 1</a>
      </li>
      <li>
        <a class="govuk-link" href="/dps/visits/bookers/scenario2/search">manage online bookers experience - scenario 2</a>
      </li>
      <br>
      <li>
        <a class="govuk-link" href="/dps/visits/print-visit">print visit details - version 1</a>
      </li>
      <li>
        <a class="govuk-link" href="/dps/visits/print-visit-2">print visit details - version 2</a>
      </li>
      <li>
        <a class="govuk-link" href="/dps/visits/print-visit-3">print visit details - version 3</a>
      </li>
     <li>
        <a class="govuk-link" href="/dps/visits/bookers/scenario3/link-visitor1">better support for visitor linking requests - no contacts</a>
      </li>
     <li>
        <a class="govuk-link" href="/dps/visits/bookers/scenario3/link-visitor2">better support for visitor linking requests - only contacts with no date of birth</a>
      </li>
    </ul>

    {{ govukButton({
    text: "Start",
    href: "/dps/visits/"
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Old prototypes
        </span>
      </summary>
    </details>
  </div>

  <div class="govuk-grid-column-one-third">
  </div>

</div>

{% endblock %}