{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set titleText = "Manage prison visits" %}
{% set titleDesc = "A staff service for managing social prison visits." %}
{% set pageHeaderTitle = "Digital Prison Services - Manage prison visits - Prototypes" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      October 2025
    </h2>

    <p class="govuk-body">Early thinking related to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>request review area</li>
      <li>new sections</li>
    </ul>

    {{ govukButton({
      text: "Start",
      href: "/dps/visits/"
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible">
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Old prototypes
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><a href="dps/archived/AJ03_amend_a_visit_V2/" class="govuk-link">AJ03 Amend a visit
            V2</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ03_amend_a_visit/" class="govuk-link">AJ03 Amend a visit V1</a>
        </p>
        <p class="govuk-body"><a href="dps/archived/AJ02_book_a_visit_on_behalf_1_V5" class="govuk-link">AJ02 Book a
            visit on behalf V5</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ02_book_a_visit_on_behalf_1_V4" class="govuk-link">AJ02 Book a
            visit on behalf V4</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ02_book_a_visit_on_behalf_1_V3" class="govuk-link">AJ02 Book a
            visit on behalf V3</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ02_book_a_visit_on_behalf_1_V2" class="govuk-link">AJ02 Book a
            visit on behalf V2</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ02_book_a_visit_on_behalf_1_V1" class="govuk-link">AJ02 Book a
            visit on behalf V1</a></p>
        <p class="govuk-body"><a href="dps/archived/AJ01_book_a_visit_1" class="govuk-link">AJ01 Book a visit V1</a>
        </p>
    </details>
  </div>
</div>

{% endblock %}
