{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create your password

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create your password
      </h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p class="govuk-body">Your password must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be at least 8 characters long</li>
          <li>include letters and numbers</li>
        </ul>

        <p class="govuk-body">Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>


        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Enter a password
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Re-type password
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to create a secure password
            </span>
          </summary>
          <div class="govuk-details__text">
            A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.
          </div>
        </details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
