{% extends "layouts/moj.html" %}
{% from "components/card.njk" import card %}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

{% set pageHeaderTitle = staffServiceName %}
{% set breadcrumbs = true %}

{% block content %}

<h1 class="govuk-heading-l">Visits</h1>

<!-- 
<h1 class="govuk-heading-m">Review</h1>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-third">
      {{ mojTicketPanel({
      attributes: {
      "aria-label": "Requested visits to review"
      },
      items: [{
      html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">54</h2>
      <p class="govuk-body">Requested visits to review</p>',
      classes: "moj-ticket-panel__content--red"
      }]
      }) }}
   </div>

   <div class="govuk-grid-column-one-third">
      {{ mojTicketPanel({
      attributes: {
      "aria-label": "Booked visits to review"
      },
      items: [{
      html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">21</h2>
      <p class="govuk-body">Booked visits to review</p>',
      classes: "moj-ticket-panel__content--orange"
      }]
      }) }}
   </div>

   <div class="govuk-grid-column-one-third">
      {{ mojTicketPanel({
      attributes: {
      "aria-label": "Completed visits to review"
      },
      items: [{
      html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">2 sessions</h2>
      <p class="govuk-body">Completed sessions to review</p>',
      classes: "moj-ticket-panel__content--blue"
      }]
      }) }}
   </div>

</div>
--> 

<br>
<h1 class="govuk-heading-m">Book</h1>


<ul class="govuk-grid-row card-group">
   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Book or change a visit",
      "description": "Make a booking for a visitor"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "View visits by date",
      "description": "Select a date and see bookings"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "View visits timetable",
      "description": "Check and request changes to the social visits timetable"
      }) }}
   </li>
</ul>

<h1 class="govuk-heading-m">Administer</h1>

<ul class="govuk-grid-row card-group">
   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#s",
      "clickable": "true",
      "heading": "Block visit dates",
      "description": "Block or unblock dates for social visits"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "/dps/visits/bookers",
      "clickable": "true",
      "heading": "Manage online bookers",
      "description": "Link visitors to booker accounts"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Your establishment contact details",
      "description": "Change the contact details for your establishment"
      }) }}
   </li>
</ul>

{% endblock %}