{% extends "layouts/moj.html" %}
{% from "components/card.njk" import card %}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = "Manage prison visits" %}
{% set breadcrumbs = true %}

{% block content %}

<h1 class="govuk-heading-l">Manage prison visits</h1>

<h2 class="govuk-heading-m">Bookings</h2>

<ul class="govuk-grid-row card-group">

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Book or change a visit",
      "description": "Create, update or cancel a booking"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "./requests/requests-to-review",
      "clickable": "true",
      "heading": 
      '<span>Requested visits' +
         '<span class="govuk-!-margin-left-2 moj-notification-badge">2' +
        '</span>' +
       "</span>",
      "description": "Check requests from online bookers"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "./review/visits-to-review",
      "clickable": "true",
      "heading": 
      '<span>Visits that need review' +
         '<span class="govuk-!-margin-left-2 moj-notification-badge">2' +
        '</span>' +
       "</span>",
      "description": "Review visits where details have been changed since approval"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "View visits by date",
      "description": "Select a date and see bookings"
      }) }}
   </li>
   
<!-- 
   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Completed sessions to review",
      "description": "Add attendance and security checks undertaken"
      }) }}
   </li>
-->
</ul>

<h2 class="govuk-heading-m">Admin</h2>

<ul class="govuk-grid-row card-group">



   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "View visits timetable",
      "description": "Check and request changes to the social visits timetable"
      }) }}
   </li>
   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#s",
      "clickable": "true",
      "heading": "Block visit dates",
      "description": "Block or unblock dates for social visits"
      }) }}
   </li>
<!-- 
   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "/dps/visits/bookers/search",
      "clickable": "true",
      "heading": "Manage bookers",
      "description": "Link visitors to online booker accounts"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Your establishment contact details",
      "description": "Change the contact details for your establishment"
      }) }}
   </li>
-->
</ul>

{% endblock %}