{% extends "/online-booking/mvp/layouts/mvp-homepage.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Past visits – {{ serviceName }}
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Past visits
    </h1>

    <p class="govuk-body">Only bookings made using this pilot service are shown.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Friday 16 February 2024</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="./past/past-details" class="govuk-link">View booking details</a></p>

  </div>
</div>

{% endblock %}