{% extends "/online-booking/mvp/layouts/mvp-homepage.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Visit booking details – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Visit booking details
    </h1>

    <p class="govuk-body">Booking reference: ab-cd-ef-gh</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date and time</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Friday 16 February 2024</p>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Prisoner</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Jane Smith</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Visitors</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Neil Name</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Additional support requests</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">None</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Main contact</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Neil Name</p>   
    <p class="govuk-body govuk-!-margin-bottom-1">07866 464587</p>

  </div>
</div>

{% endblock %}