{% extends "layouts/main.html" %}

{% block pageTitle %}
  Visiting HMP Hewell – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Visiting Foston Hall
      </h1>

      <form class="form" action="2one-login-start" method="post">

         <p>How you book visits at this prison has changed. You can now get instant confirmation of your booking and text message updates. </p> 
        <p>You’ll need a GOV.UK One Login to book visits online at this prison.</p>

        <p>If you have a GOV.UK One Login, you can <a href="#">sign in.</a></p>

        <p>Or you can create one.</p>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
