{% extends "layouts/main.html" %}

{% block pageTitle %}
  One Login – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create your password
      </h1>

        <label class="govuk-label" for="password">
          Enter a password
        </label>
       
        <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" data-module="moj-password-reveal">
      
        <label class="govuk-label" for="password">
          Re-type password
        </label>
        
        <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" data-module="moj-password-reveal">
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to create a secure password
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
      
      </details>

      <div>

      <h3 class="govuk-heading-m">Agree to our terms of use</h3>
      <p>By continuing, you confirm that you agree to our:</p>
      <ul class="govuk-list govuk-list--bullet"">
        <li><a href="#">privacy notice (opens in new tab)</a>, which explains how we use your personal information</li>
        <li><a href="#">terms and conditions (opens in new tab)</a></li>
       
      </div>
      

      <form class="form" action="2one-login-security-codes" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
