{% extends "../../layouts/homepage.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Cancelled visits – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Cancelled visits
    </h1>

    <p class="govuk-body">Only bookings made using GOV.UK One Login are shown.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Tuesday 30 January 2024</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="./cancelled/cancelled-details" class="govuk-link">View booking details</a></p>

  </div>
</div>

{% endblock %}