{% extends "../layouts/header.html" %}
{% extends "../layouts/footer.html" %}
{% extends "../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set backLinkHref = true %}

{% block pageTitle %}
    Assessiblity statement – {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Accessibility statement for the ‘visit someone in prison’ service</h1>
        <p class="govuk-body">This accessibility statement applies to prison-visits.service.justice.gov.uk</p>
        <p class="govuk-body">This website is run by HM Prison and Probation Service (HMPPS).</p>  
        <p class="govuk-body">We want as many people as possible to be able to use this website. We will make improvements to accessibility as we find issues.</p>
        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have access needs.</p>

        <h2 class="govuk-heading-m">Compliance status</h2>
        <p class="govuk-body">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2 AA standard</a>.</p>
        <p class="govuk-body">It was last tested by <a href="https://uservision.co.uk/" class="govuk-link">User Vision</a> in October 2024 against the WCAG 2.2 AA standard.</p>
        <p class="govuk-body">User Vision assessed pages using the following assistive technology:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>NVDA (using Edge, Chrome and Firefox browsers) </li>
            <li>JAWS (using Edge, Chrome and Firefox browsers)</li>
            <li>TalkBack for Android</li>
            <li>VoiceOver for iOS and MacOS</li>
            <li>Dragon Naturally Speaking on desktop</li>
        </ul>
        <p class="govuk-body">This testing identified 3 non-compliance issues. These issues were fixed on [date]. They were tested to check compliance with the WCAG 2.2 AA standard by our website team.</p>


        <h2 class="govuk-heading-m">Feedback</h2>
        <p class="govuk-body">If you find any problems or think we’re not meeting accessibility requirements, you can <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/feedback">send us feedback</a>.</p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>

        <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
        <p class="govuk-body">HMPPS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">This statement was prepared on 29 May 2024. It was last reviewed on [date this version is published].</p>

    </div>
</div>

{% endblock %}
