{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "home" %}

{% block pageTitle %}
Book a visit – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Book a visit
    </h1>

    <h2 class="govuk-heading-m">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</h2>


{% block pageScripts %}


<script>
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }
  
 // window.alert(getQueryVariable("scenario"));


     // document.write(getQueryVariable("scenario"));
      
    document.write('<input type="hidden" id="scenario" name="scenario" value="'+getQueryVariable("scenario")+'" />');
    </script>
    {% endblock %}

    <br>

    {% if (data['scenario'] == "B") %}

    {{ govukButton({
    text: "Start B ",
    href: "book/0-interuptionPrisoner.html",
    isStartButton: true
    }) }}


    {% elif (data['scenario'] == "A") %}
    
    {{ govukButton({
    text: "Start A",
    href: "book/1-visitors.html",
    isStartButton: true
    }) }}

    {% elif (data['scenario'] == "C") %}
    
    {{ govukButton({
    text: "Start C",
    href: "book/1-visitors.html",
    isStartButton: true
    }) }}

    {% else %}

    {{ govukButton({
    text: "Start ?",
    href: "book/1-visitors.html",
    isStartButton: true
    }) }}

    {% endif %}

  </div>
</div>

{% endblock %}