{% extends "layouts/main.html" %}

{% block pageTitle %}
  Booking complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Booking complete</h1>
        <div class="govuk-panel__body">
          Your booking reference number is<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        All visitors will be sent a confirmation via their preferred contact method.</p>

<p>Wayland HMP has been informed of this visit with Aarell Dublosek at 9:00am on the 7 May 2021.
      </p>

      <h2 class="govuk-heading-l">What happens next</h2>

      <p>Visitors can <a href="#">cancel</a> or <a href="#">change</a> their booking up to 48 hours before the visit.
</p>

    </div>
  </div>

{% endblock %}
