{% extends "layouts/main.html" %}

{% block pageTitle %}
  Booking complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number is<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        You will be sent an email with a link to create a password for your account.</p>
<p>Your application will be checked to make sure you are on the prisoner’s visitor list. When this is confirmed, we will contact you to say you can book a visit.
      </p>

      

        <h2 class="govuk-heading-m">Other services you might be interested in</h2>
        <p>If you’re visiting a family member, partner or someone who doesn’t have other visitors, and you get certain benefits, you may be able to <a href="https://www.gov.uk/help-with-prison-visits">get help with the cost of prison visits</a></p>

        <p>You can use the free and fast online service to <a href="https://www.gov.uk/send-prisoner-money">send money to someone in prison</a>. Money can be sent in through the post by cheque or postal order if made payable to HMPPS or NOMS Agency.</p>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

      


    </div>
  </div>

{% endblock %}
