{% extends "layouts/moj.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageHeaderTitle = "Edit visiting order balances - Manage prison visits" %}
{% set backLinkHref = true %}
{% block content %}

<h1 class="govuk-heading-l">Edit visiting order balances</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s govuk-body govuk-!-font-weight-bold">Prisoner name</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s govuk-body govuk-!-font-weight-bold">VO balance</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s govuk-body govuk-!-font-weight-bold">PVO balance</p>
      </div>
    </div>

    <br><br>

    <h2 class="govuk-heading-m">What change should be made to the VO balance?</h2>

    {% set addVOHtml %}
    {{ govukInput({
      id: "add-VO",
      name: "add-VO",
      classes: "govuk-!-width-one-third",
      label: {
        text: "How many VOs should be added?"
      }
    }) }}
    {% endset -%}

    {% set removeVOHtml %}
    {{ govukInput({
      id: "remove-VO",
      name: "remove-VO",
      classes: "govuk-!-width-one-third",
      label: {
        text: "How many VOs should be removed?"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      name: "vo",
      items: [
        {
          value: "no-change",
          text: "No change"
        },
        {
          value: "add-VO",
          text: "Add",
          conditional: {
            html: addVOHtml
          }
        },
        {
          value: "remove-VO",
          text: "Remove",
          conditional: {
            html: removeVOHtml
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">What change should be made to the PVO balance?</h2>

    {% set addPVOHtml %}
    {{ govukInput({
      id: "add-PVO",
      name: "add-PVO",
      classes: "govuk-!-width-one-third",
      label: {
        text: "How many PVOs should be added?"
      }
    }) }}
    {% endset -%}

    {% set removePVOHtml %}
    {{ govukInput({
      id: "remove-PVO",
      name: "remove-PVO",
      classes: "govuk-!-width-one-third",
      label: {
        text: "How many PVOs should be removed?"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      name: "pvo",
      items: [
        {
          value: "no-change",
          text: "No change"
        },
        {
          value: "add-PVO",
          text: "Add",
          conditional: {
            html: addPVOHtml
          }
        },
        {
          value: "remove-PVO",
          text: "Remove",
          conditional: {
            html: removePVOHtml
          }
        }
      ]
    }) }}


<h2 class="govuk-heading-m">What is the reason for this change?</h2>


{% endblock %}