{% extends "../layouts/mvp-homepage.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Bookings – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
 {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Bookings
    </h1>

    <p class="govuk-body">Only bookings made using this pilot service are shown.</p>

    <h2 class="govuk-heading-m">Future visits</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Tuesday 26 March 2024</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Booking reference: hd-wo-fx-mv </p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="./bookings/future/details" class="govuk-link">View booking details</a></p>

    <br>
    <h2 class="govuk-heading-m">How to change your booking</h2>
    <p class="govuk-body">To update or cancel your booking, call the prison on {{ data['prison-telephone-number'] }} between 9am and 5pm, Monday to Friday.</p>
    <p class="govuk-body">You will need the booking reference to make changes.</p>

  </div>
</div>

{% endblock %}
