{% extends "layouts/moj.html" %}
{% from "components/card.njk" import card %}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = "Contacts" %}
{% set breadcrumbs = true %}

{% block content %}

<h1 class="govuk-heading-l">Contacts</h1>

<ul class="govuk-grid-row card-group">

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "./search",
      "clickable": "true",
      "heading": "Search for a contact",
      "description": "View a contact's details"
      }) }}
   </li>

{% endblock %}