{% extends "layouts/moj.html" %}
{% from "components/card.njk" import card %}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = "Contacts" %}
{% set breadcrumbs = true %}

{% block content %}

<h1 class="govuk-heading-l">Contacts</h1>

<!-- <h2 class="govuk-heading-m">Bookings</h2> -->

<ul class="govuk-grid-row card-group">

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Search for a contact",
      "description": "TBC"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading":
      '<span>Review new contact requests' +
         '<span class="govuk-!-margin-left-2 moj-notification-badge">5' +
            '</span>' +
         "</span>",
      "description": "TBC"
      }) }}
   </li>

</ul>

<h2 class="govuk-heading-m">Admin</h2>

<ul class="govuk-grid-row card-group">

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading":
      '<span>Duplicate contacts' +
         '<span class="govuk-!-margin-left-2 moj-notification-badge">12' +
            '</span>' +
         "</span>",
      "description": "TBC"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Contact restrictions",
      "description": "Restrictions that are ending soon or have not recently been reviewed"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Contacts with missing information",
      "description": "Includes date of birth, address and telephone number"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Prisoners with no contacts",
      "description": "TBC"
      }) }}
   </li>

   <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
      "href": "#",
      "clickable": "true",
      "heading": "Prisoners with no next of kin or emergency contact",
      "description": "TBC"
      }) }}
   </li>
</ul>

{% endblock %}