{% extends "./layouts/homepage.html" %}
{% set activeLinkId = "home-link" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
Make a claim – Get help with cost of prison visits
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Make a claim
      </h1>

      <p>Prisoner: {{ data['prisoner-name'] }}</p>
    
      <br>
    
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Start now",
      href: "#",
      isStartButton: true
      }) }}

  </div>
</div>

{% endblock %}
