{% extends "../../layouts/homepage.html" %} 

{% set activeLinkId = "bookings-link" %} {% block pageTitle %} Cancel your booking – {{ serviceName }} {% endblock %} {% block content %} 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="cancel-confirm" method="post">

      <h1 class="govuk-heading-l"> Are you sure you want to cancel this booking? </h1>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date and time</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-0-date'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-0-time'] }}</p>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Prisoner</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }}</p>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Visitors</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-2-name'] }}</p>
      <br>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cancel-1" name="cancel" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="cancel"> Yes, cancel this booking </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cancel-2" name="cancel" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="cancel-2"> No, keep this booking </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div> {% endblock %}
