{% extends "../../layouts/homepage.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Cancel your booking – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Are you sure you want to cancel this booking?
    </h1>
    
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date and time</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Tuesday 26 March 2024</p>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Prisoner</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }}</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Visitors</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-2-name'] }}</p>

    <br>

    {{ govukRadios({
      name: "cancel",
      items: [
        {
          value: "yes",
          text: "Yes, cancel this booking"
        },
        {
          value: "no",
          text: "No, keep this booking"
        }
      ]
    }) }}


{{ govukButton({
  text: "Confirm"
}) }}
    



  </div>
</div>
{% endblock %}


