{% extends "../../layouts/homepage.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Booking cancelled – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Booking cancelled"
    }) }}

    <h1 class="govuk-heading-m">
      What happens next?
    </h1>

    <p class="govuk-body">The main contact for this booking will get a text message to confirm it has been cancelled.</p>

  </div>
</div>
{% endblock %}


