{% extends "../../layouts/header.html" %}
{% extends "../../layouts/footer.html" %}
{% extends "../../layouts/banner.html" %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set signedIn = true %}
{% set backLinkHref = true %}
{% set activeLinkId = "bookings" %}
{% set govukRebrand = true %}

{% block pageTitle %}
  Visit request details – {{ serviceName }}
{% endblock %}

{% block content %}

{{ mojAlert({
  variant: "information",
  title: "Your visit needs to be reviewed",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'Your visit is not booked yet. It needs to be checked by Foston Hall (HMP & YOI).'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Visit request details
    </h1>

    <h2 class="govuk-heading-m">Visit reference: {{ data['visit-1-ref'] }}</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date and time</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-1-date'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-1-time'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Prisoner</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }} <!-- at {{ data['prison-name'] }} --></p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Visitors</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-2-name'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Additional support requests</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">None</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Main contact</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>   
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-tel'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-email'] }}</p>

    <br>

    <form action="cancel-confirm.html" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
         Cancel visit
      </button>
     </form>

    <h2 class="govuk-heading-m">How to update your request</h2>
    <p class="govuk-body">To update your request, call {{ data['prison-name'] }} on {{ data['prison-tel'] }} between 9am and 5pm, Monday to Friday.</p>  
    <p class="govuk-body">You will need the reference to make changes. Your visit reference is {{ data['visit-1-ref'] }}.</p>  
    
  </div>
</div>
{% endblock %}


