{% extends "/online-booking/mvp+3/layouts/one-login.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %} 
  Check your phone - GOV.UK One Login
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your phone
      </h1>

      {{ govukInsetText({
        text: "We have sent a code to your phone number ending with 783"
      }) }}

      <p>It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      {{ govukInput({
        label: {text: "Enter the 6 digit code"},
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "width10",
        autofocus: true
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "../0-home"
      }) }}

      {{ govukDetails({
        summaryText: "Problems with the code?",
        text: "We can send the code again if the code is not working or you did not receive it. If you cannot access the phone number for your GOV.UK One Login, you can securely change how you get security codes."
      }) }}

    </div>
</div>

{% endblock %}