{% extends "../../layouts/header.html" %}
{% extends "../../layouts/footer.html" %}
{% extends "../../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set signedIn = true %}
{% set backLinkHref = true %}
{% set activeLinkId = "bookings" %}

{% block pageTitle %}
  Visit booking details – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Visit booking details
    </h1>

    <h2 class="govuk-heading-m">Booking reference: {{ data['visit-0-ref'] }}</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date and time</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-0-date'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-0-time'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Prisoner</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Visitors</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-2-name'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Additional support requests</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">None</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Main contact</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>   
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-tel'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-email'] }}</p>

    <br>
    
    <form action="cancel" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
         Cancel booking
      </button>
     </form>

    <h2 class="govuk-heading-m">How to update your booking</h2>
    <p class="govuk-body">To update your booking, call {{ data['prison-name'] }} on {{ data['prison-tel'] }} between 9am and 5pm, Monday to Friday.</p>  
    <p class="govuk-body">You will need the booking reference to make changes. Your booking reference is {{ data['visit-0-ref'] }}.</p>  

    <h2 class="govuk-heading-m">Prepare for visiting {{ data['prison-name'] }}</h2>
    <p class="govuk-body">All visitors over 16 years old must show <a href="https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a" class="govuk-link">acceptable forms of ID</a> to enter the prison.</p>  
    <p class="govuk-body">Visitors should arrive 45 minutes before the visit starts.</p>  
    <p class="govuk-body">You can read more about visits at <a href="https://www.gov.uk/guidance/foston-hall-prison" class="govuk-link">{{ data['prison-name'] }}</a>. This includes information on getting to the prison and visiting facilities.</p>  

    <h2 class="govuk-heading-m">What to expect when visiting a prison</h2>
    <p class="govuk-body">Visitors will be searched before entering the prison visiting room.</p>  
    <p class="govuk-body">Prison staff may check visitors’ pockets, pat them down and ask them to go through a metal detector. Dogs may also be used to detect illegal substances.</p> 

    <h2 class="govuk-heading-m">Help with the cost of prison visits</h2>
    <p class="govuk-body">You may be able to <a href="https://www.gov.uk/help-with-prison-visits" class="govuk-link">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>
    
  </div>
</div>
{% endblock %}


