{% extends "/online-booking/mvp+2/layouts/start.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %} 
  Create your GOV.UK One Login or sign in
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create your GOV.UK One Login or sign in
      </h1> 
      
        <div>
            <p>
              You can use your GOV.UK One Login to access some government services.
            </p>

            <p>
              In the future, you’ll be able to use it to access all services on GOV.UK.
            </p>

            <p>
              You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>an email address</li>
                <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
            </ul>

            <div class="govuk-inset-text">
              You can also use GOV.UK One Login in Welsh (Cymraeg).
            </div>

            {{ govukButton({
              text: "Create your GOV.UK One Login",
              href: "#"
            }) }}
            
            <br>

            {{ govukButton({
              text: "Sign in",
              href: "./email",
              classes: "govuk-button--secondary"
            }) }}

            <p>
              Services you can use with GOV.UK One Login (opens in new tab)
            </p>

        </div>
    </div>
</div>

{% endblock %}