{% extends "./layouts/mvp-homepage.html" %}
{% set activeLinkId = "home-link" %}

{% block pageTitle %}
Book a visit – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/" target="_blank">feedback</a> will help us to improve it.'
    }) }}
 {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Book a visit
      </h1>

      <p>Prisoner: {{ data['prisoner-name'] }}</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Start now",
      href: "mvp/book/1-visitors.html",
      isStartButton: true
      }) }}

  </div>
</div>

{% endblock %}
