{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add or remove visitors
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <a href="bookingdetails" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Add or remove visitors</h1>

      <p class="govuk-body">Each adult visitor must:</p>
      <ul class="govuk-list  govuk-list--bullet">
        <li class="govuk-body">be on the prisoner's visitor list</li>
        <li class="govuk-body">not be banned from visiting the prisoner</li>
        <li class="govuk-body">show <a href="#">an acceptable form of ID</a> on the day of the visit that matches the details provided when booking</li>
      </ul>

      <form class="form" action="checkanswers" method="post">

{{ govukTable({
  
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: ""
    },
    {
      text: "Name"
    },
    {
      text: "Date of birth"
    },
    {
      text: "Relationship to prisoner"
    },
    {
      text: "Primary address"
    },
    {
      text: "Postcode"
    },
    {
      text: "Restrictions"
    },
    {
      text: "Reasonable adjustments"
    }
    
  ],
  rows: [
    [
      {
        html: '<input type="checkbox" checked>'
      },
      {
        html: '<a href="#">Sarah Philips</a>'
      },
      {
        text: "1 January 1970"
      },
      {
        text: "Wife"
      },
      {
        text: "123 Highbury Hill, London"
      },
      {
        text: "N5 1AT"
      },
      
      {
        text: "None"
      },
      {
        text: "None"
      }
    ],
    [
      {
        html: '<input type="checkbox" checked>'
      },
      {
        html: '<a href="#">John Philips</a>'
      },
      {
        text: "2 March 1990"
      },
      {
        text: "Brother-in-law"
      },
      {
        text: "123 Highbury Hill, London"
      },
      {
        text: "N5 1AT"
      },
      {
        text: "None"
      },
      {
        text: "None"
      }
    ],

    [
      {
        html: '<input type="checkbox" checked>'
      },
      {
        html: '<a href="#">Tim Philips</a>'
      },
      {
        text: "4 September 2000"
      },
      {
        text: "Son"
      },
      {
        text: "123 Highbury Hill, London"
      },
      {
        text: "N5 1AT"
      },
      {
        text: "None"
      },
      {
        text: "None"
      }
    ],
    [
      {
        html: ''
      },
      {
        html: '<a href="#">Tim Wright</a>'
      },
      {
        text: "22 December 1984"
      },
      {
        text: "Friend"
      },
      {
        text: "84 Street, Sheffield"
      },
      {
        text: "S1 4DD"
      },
      
      {
        html: '<strong class="govuk-tag">
          BANNED 
        </strong> <p>until 8 September 2021</p>'
      },

      {
        text: "None"
      }
    ],
    [
      {
        html: '<input type="checkbox">'
      },
      {
        html: '<a href="#">Lisa Wright</a>'
      },
      {
        text: "9 August 1975"
      },
      {
        text: "Girlfriend"
      },
      {
        text: "48A Brown Road, Hull"
      },
      {
        text: "LR9 OSH"
      },
      
      {
        text: 'None'
      },

      {
        text: "Wheelchair ramp"
      }
    ]
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <a href="datepicker"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Change the date or time of the visit
      </button></a>

    </div>
  </div>

{% endblock %}
