{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search for a booking
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Search for a booking</h1>

      <form class="form" action="searchresults" method="post">

<div class="horizontal-form" style="padding-bottom: 15px;">
        {{ govukInput({
          label: {
            text: "Enter reference number or visitor name"
          },
          classes: "govuk-input govuk-!-width-full",
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukButton({
          text: "Search"
        }) }}
</div>





      </form>

    </div>
  </div>

{% endblock %}
