{% set homepageLink = "/" %}
{% set oneLoginLink = "/" %}
{% set signOutLink = "/" %}
{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set navigationItems = [
  {
    href: "/online-booking/mvp",
    text: 'Home',
    id: 'home-link'
  },{
    href: "/online-booking/mvp/bookings",
    text: 'Bookings',
    id: 'bookings-link'
  },{
    href: "/online-booking/mvp/visitors",
    text: 'Visitors',
    id: 'visitors-link'
  }]
%}
{% set activeLinkId = "home-link" %}
{% set serviceName = "Visit someone in prison" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Book a visit
      </h1>

      <p>Prisoner: Jane Smith</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Start now",
      href: "/online-booking/mvp/book/1-visitors.html",
      isStartButton: true
      }) }}

  </div>
</div>

{% endblock %}