{% extends "/online-booking/mvp/layouts/mvp-homepage.html" %}
{% set activeLinkId = "visitors-link" %}

{% block pageTitle %}
Visitors – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
 {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Visitors you can book for
    </h1>

    <h2 class="govuk-heading-m">Jane Smith's visitors</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Linda Name</th>
          <td class="govuk-table__cell">12 March 1987</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Michael Name</th>
          <td class="govuk-table__cell">2 June 1990</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Neil Name</th>
          <td class="govuk-table__cell">10 October 1995</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Barry Name</th>
          <td class="govuk-table__cell">1 January 2000</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Add a new visitor</h2>

    <p class="govuk-body">
      The person you want to book for must be on the prisoner’s visitor list.
      <br><br>
      To make a request, <a href="#" class="govuk-link">complete the form (opens in a new tab)</a>. We will respond within 5 working days.
    </p>

  </div>
</div>

{% endblock %}