{% extends "layouts/moj.html" %}

{% block content %}

<h1 class="govuk-heading-l">Visits</h1>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
         <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="index" class="govuk-link">Book or change a visit</a></h2>
          <p class="govuk-body">Make a booking for a visitor</p>
         </section>
      </article>
   </div>
   <div class="govuk-grid-column-one-third">
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
         <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="search" class="govuk-link">Need review</a></h2>
            <p class="govuk-body">Check bookings that need review<br><br></p>
         </section>
     </article>
   </div>
   <div class="govuk-grid-column-one-third">
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
         <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="search" class="govuk-link">View visits by date</a></h2>
            <p class="govuk-body">Select a date and see bookings</p>
         </section>
      </article>
   </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-third">
       <article class="moj-ticket-panel" aria-label="Sub navigation 1">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
           <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="index" class="govuk-link">View visits timetable</a></h2>
           <p class="govuk-body">Check and request changes to social visits timetable</p>
          </section>
       </article>
    </div>
    <div class="govuk-grid-column-one-third">
       <article class="moj-ticket-panel" aria-label="Sub navigation 1">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
             <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="search" class="govuk-link">Block visit dates</a></h2>
             <p class="govuk-body">Block or unblock dates for social visits</p>
          </section>
      </article>
    </div>
 </div>
{% endblock %}
