{% extends "layouts/moj.html" %}

{% block content %}

<h1 class="govuk-heading-l">Visits</h1>

<div class="govuk-grid-row equal-height-row">

   <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
        {{ card({
          "href": "#",
          "clickable": "true",
          "heading": "Book or change a visit",
          "description": "Make a booking for a visitor",
          "id": "book-or-change-visit"
        }) }}
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        {{ card({
          "href": "#",
          "clickable": "true",
          "heading": "Need review",
          "description": "Check bookings that need review",
          "id": "need-review"
        }) }}
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        {{ card({
          "href": "#",
          "clickable": "true",
          "heading": "View visits by date",
          "description": "Select a date and see bookings",
          "id": "view-visits-by-date"
        }) }}
      </li>
    </ul>

   <br>
   <h2 class="govuk-heading-m">Manage visits</h2>

   <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
         "href": "#",
         "clickable": "true",
         "heading": "View visits timetable",
         "description": "Check and request changes to the social visits timetable",
         "id": "view-timetable"
      }) }}
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
         "href": "#",
         "clickable": "true",
         "heading": "Block visit dates",
         "description": "Block or unblock dates for social visits",
         "id": "block-dates"
      }) }}
      </li>
   </ul>
</div>

{% endblock %}
