{% extends "/online-booking/mvp/layouts/mvp-homepage.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Bookings – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Bookings
    </h1>

    <p class="govuk-body">Only bookings made using this pilot service are shown.</p>

    <h2 class="govuk-heading-m">Future visits</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Tuesday 26 March 2024</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">10am to 11am</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Booking reference: hd-wo-fx-mv </p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="./bookings/future/details" class="govuk-link">View booking details</a></p>

    <br>
    <h2 class="govuk-heading-m">How to change your booking</h2>
    <p class="govuk-body">To update or cancel your booking, call the prison on [phone number] between 9am and 5pm, Monday to Friday.</p>
    <p class="govuk-body">You will need the booking reference to make changes.</p>

    <br>
    <h2 class="govuk-heading-m">Past and cancelled visits</h2>
    <p class="govuk-body"><a href="./bookings/past" class="govuk-link">View past visits</a></p>
    <p class="govuk-body"><a href="./bookings/cancelled" class="govuk-link">View cancelled visits</a></p>

  </div>
</div>

{% endblock %}