{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Visits - Prototypes
{% endblock %}

{% block header %}
{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
  
  {{ xGovukMasthead(
    
    {
  
    classes: "x-govuk-masthead–medium",
    breadcrumbs: {
      items: [            
          { href: "/", text: "Home" }      ]
  },
    title: {
    
    text: "Get help with the cost of prison visits"
    
    }
  
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container"></div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Version 2
        </h2>

        <p class="govuk-body">To be developed:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>TBC</li>
        </ul>
        </div> 
    </div>
  </main>
</div>

{% endblock %}
