{% extends "layouts/prototype.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set titleText = "Help with prison visits" %}
{% set titleDesc = "A public service for visitors to claim the costs of visiting someone in prison." %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Version 2
    </h2>

    <p class="govuk-body">To be developed:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>TBC</li>
    </ul>
    </div> 
</div>

{% endblock %}