{% extends "layouts/main.html" %}


{% block pageTitle %}
  Create your account
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Create your account</h1>

      <div class="govuk-form-group">
        <label class="govuk-label--m" for="email">
          Email address
        </label>
        <div id="email-hint" class="govuk-hint">
          Use this to access your account
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Create password
        </label>
        <div id="password-hint" class="govuk-hint">
            Passwords must:
            <ul class="govuk-list govuk-list--bullet">
                <li>be a minimum of 8 characters</li>
                <li>contain at least one number (0-9)</li>
                <li>contain at least one letter (a-z)</li>
                <li>not contain the word 'password'</li>
              </ul>
          </div>
      
        <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"  data-module="moj-password-reveal">
      
      


      <form class="form" action="dashboard" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
