{% extends "layouts/main.html" %}


{% block pageTitle %}
  About you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About you</span>
      <h1 class="govuk-heading-xl">What is your full name?</h1>

      <div id="dob-hint" class="govuk-hint">
        You must be able to show ID that matches these details.
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
        
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>


      <form class="form" action="personaldetails2" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
