{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% set govukRebrand = true %}
{% set serviceName = "Visit someone in prison" %}

{% block header %}

    {% if signedIn %}

    {{ govukOneLoginServiceHeader({
      signOutLink: "/public",
      oneLoginLink: "/public",
      rebrand: true,
      serviceNavigationParams: { 
        navigation: [
        {
          href: "/public/mvp+5", 
          text: "Visits",
          active: activeLinkId == "home"
        },{
          href: "/public/mvp+5/visitors", 
          text: "Visitors",
          active: activeLinkId == "visitors"
        }], 
        serviceName: serviceName,
        collapseNavigationOnMobile: false
        }
    }) }}

  {% else %}

  {{ govukOneLoginServiceHeader({
    signOutLink: "/public",
    oneLoginLink: "/public",
    rebrand: true,
    serviceNavigationParams: { 
      navigation: [], 
      serviceName: serviceName
      }
  }) }}

  {% endif %}

{% endblock %}
