{% from "service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% set serviceName = "Visit someone in prison" %}

{% block header %}

    {% if signedIn %}

    {{ govukOneLoginServiceHeader({
      signOutLink: "/public"})
    }}

    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: "/public",
      navigation: [
      {
        href: "/public/mvp+5", 
        text: "Home",
        active: activeLinkId == "home"
      },{
        href: "/public/mvp+5/bookings", 
        text: "Bookings",
        active: activeLinkId == "bookings"
      },{
        href: "/public/mvp+5/visitors", 
        text: "Visitors",
        active: activeLinkId == "visitors"
      }]
    }) 
    }} 

  {% else %}

  {{ govukOneLoginServiceHeader({
    signOutLink: "/public",
    oneLoginLink: "/public",
    serviceNavigationParams: { 
      navigation: [], 
      serviceName: serviceName
      }
  }) }}

  {% endif %}
{% endblock %}
