{% extends "layouts/main.html" %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% set containerClasses = 'app-width-container--wide' %}

{% block pageTitle %}
  Search results
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="box-shadow: inset 0 -1px 0 0 #b1b4b6;">
            <p class="govuk-!-padding-bottom-2"><strong>Wayland (HMP)</strong> <a href="changecaseload">Change location</a></p>
        </div>
      <h1 class="govuk-heading-l">Prisoner search results</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-!-padding-4 govuk-!-padding-top-6 govuk-!-padding-bottom-7 form-background">
        {{ mojSearch({
          action: '#',
          method: 'post',
          classes: 'govuk-!-width-one-half',
          input: {
            id: 'search',
            name: 'search'
          },
          label: {
            text: 'Enter name or prison number'
          },
          button: {
            text: 'Search'
          }
        }) }}
      </div>

    </div>
  </div>


{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      classes: 'govuk-!-padding-4',
      text: "Name"
    },
    {
      classes: 'govuk-!-padding-4',
      text: "Prison number"
    },
    {
      classes: 'govuk-!-padding-4',
      text: "Date of birth"
    }
  ],
  rows: [
    [
      {
        classes: 'govuk-!-padding-4',
        html: '<a href="prisonerprofilereduced">Green, Daniel</a>'
      },
      {
        classes: 'govuk-!-padding-4',
        text: "AB124BD"
      },
      {
        classes: 'govuk-!-padding-4',
        text: "19 April 1993"
      }
    ],
    [
      {
        classes: 'govuk-!-padding-4',
        html: '<a href="#">Greene, Aaron</a>'
      },
      {
        classes: 'govuk-!-padding-4',
        text: "UF893A0"
      },
      {
        classes: 'govuk-!-padding-4',
        text: "28 December 1957"
      }
    ]
  ]
}) }}

      </form>

    </div>
  </div>

{% endblock %}
