{% extends "../../layouts/header.html" %}
{% extends "../../layouts/footer.html" %}
{% extends "../../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set signedIn = true %}
{% set backLinkHref = true %}
{% set activeLinkId = "bookings" %}
{% set govukRebrand = true %}

{% block pageTitle %}
  Visit details – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Visit details
    </h1>

    <h2 class="govuk-heading-m">
      Visit reference: ab-cd-ef-gh
    </h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date and time</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-2-date'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-2-time'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Prisoner</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Visitors</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Additional support requests</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">None</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Main contact</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visitor-1-name'] }}</p>   
    <p class="govuk-body govuk-!-margin-bottom-1">07866 464587</p>

  </div>
</div>

{% endblock %}
