{% extends "../layout.html" %}

{% block pageTitle %}
  Sign in to your visitor account
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sign in to your visitor account</h1>

      <form class="form" action="details" method="post">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Password"
          },
          classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name",
          type: "password"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

        <h2 class="govuk-heading-m">Problems signing in</h2>

        <p>
            <a href="#">I have forgotten my password</a>
            <br><a href="#">I want to create a visitor account</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
