{% extends "../../layouts/header.html" %}
{% extends "../../layouts/footer.html" %}
{% extends "../../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "bookings" %}
{% set govukRebrand = true %}

{% block pageTitle %}
  Booking cancelled – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Booking cancelled
      </h1>
    </div>

    <h1 class="govuk-heading-m">
      What happens next?
    </h1>

    <p>The main contact for this booking will get a text message to confirm it has been cancelled.</p>

    <p>When signed in to GOV.UK One Login, you can <a href="../../bookings/">check the details of your bookings.</a></p>

    <p>You can help us to improve this service by giving <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/" class="govuk-link">feedback</a>.</p>


  </div>
</div>
{% endblock %}


