{% extends "../layouts/header.html" %}
{% extends "../layouts/footer.html" %}
{% extends "../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = true %}
{% set activeLinkId = "visitors" %}
{% set govukRebrand = true %}
{% set backLinkHref = true %}

{% block pageTitle %}
Check your request – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Check your request
    </h1>

    <p class="govuk-body">
      Before you submit your request, please check the information you have provided.
    </p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: "Sarah"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: "Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "5 January 1978"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Submit",
      href: "check-visitor-info",
      preventDoubleClick: true
    }) }}

  </div>
</div>

{% endblock %}