{% extends "../layouts/header.html" %}
{% extends "../layouts/footer.html" %}
{% extends "../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = true %}
{% set activeLinkId = "visitors" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Check your request – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Check your request
    </h1>

    <p class="govuk-body">
      Before you submit your request, please check the information you have provided.
    </p>

    {{ govukSummaryList({
      card: {
        title: {
          text: "Visitor 1"
        }
      },
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            html: "Barry"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-1-name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            html: "White"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-1-name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: "14 June 1987"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-1-dob"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Visitor 2"
        }
      },
      rows: [
        {
          key: {
            text: "Sam"
          },
          value: {
            html: "Smith"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-2-name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            html: "Smith"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-2-name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: "16 March 1975"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "visitor-2"
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}