{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "home" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Visits – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Visits
      </h1>

      <p>Only requests and visits booked using GOV.UK One Login are shown.</p>
      
      <h2 class="govuk-heading-m">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</h2>

      <p class="govuk-body govuk-!-margin-bottom-1">No future visits are booked.</p>
      
      <br>
    
      {{ govukButton({
      text: "Book a visit",
      href: "/public/mvp+5/book/1-visitors.html"
      }) }}


      <p class="govuk-body"><a href="./visits/past" class="govuk-link">View past visits</a></p>
      <p class="govuk-body"><a href="./visits/cancelled" class="govuk-link">View rejected and cancelled visits</a></p>
  </div>
</div>

{% endblock %}
