{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "home" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Welcome – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      Visit {{ data['prisoner-name'] }}
    </h1>

    {{ govukButton({
    text: "Book a visit",
    href: "/public/mvp+5/book/1-visitors.html"
    }) }}

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <br>
      <h2 class="govuk-heading-l" id="subsection-title">
        Your next visit
      </h2>
      <p>Only requests and visits booked using GOV.UK One Login are shown.</p>

      <strong class="govuk-tag govuk-tag--orange">Awaiting review</strong>
      <br><br>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</h3>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-1-date'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-1-time'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">Visit reference: {{ data['visit-1-ref'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1"><a href="visits/future/details-request" class="govuk-link">View
          details</a>&nbsp;&nbsp;<a href="visits/future/cancel.html" class="govuk-link">Cancel visit</a>
      </p>
    </aside>

  </div>
</div>

{% endblock %}