{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "home" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Welcome – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Book a visit
      </h1>

      {{ govukButton({
        text: "Start",
        href: "/public/mvp+5/book/1-visitors.html",
        isStartButton: true
        }) }}

      <h1 class="govuk-heading-l">
        Your next visit
      </h1>

      <p>Only bookings made using GOV.UK One Login are shown.</p>

      
      <h2 class="govuk-heading-m">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</h2>
  
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ data['visit-1-date'] }}</h3>
      <strong class="govuk-tag govuk-tag--orange">Awaiting review</strong>
      <br><br>
      <!-- <p class="govuk-body govuk-!-margin-bottom-1">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</p> -->
      <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-1-time'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">Visit reference: {{ data['visit-1-ref'] }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1"><a href="bookings/future/details-request" class="govuk-link">View details</a>&nbsp;&nbsp;<a href="bookings/future/cancel.html" class="govuk-link">Cancel visit</a>
      </p>
  
      <br>
      <br>
    
      <p class="govuk-body"><a href="./bookings/" class="govuk-link">View all visits</a></p>
  </div>
</div>

{% endblock %}
