{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set signedIn = true %}
{% set activeLinkId = "home" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Welcome – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ data['prisoner-name'] }} at {{ data['prison-name'] }}</h2>

    {{ govukButton({
    text: "Book a visit",
    href: "/public/mvp+5/book/1-visitors.html",
    isStartButton: true
    }) }}


    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <br>
      <h2 class="govuk-heading-m" id="subsection-title">
        Your next visit
      </h2>
    </aside>
 
    <p>Only bookings made using GOV.UK One Login are shown.</p>





    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          {{ data['visit-0-date'] }} <br>
          {{ data['visit-0-time'] }} <br>
          Visit reference: {{ data['visit-0-ref'] }}
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-1"><a href="bookings/future/details" class="govuk-link">View details</a>&nbsp;&nbsp;<a href="bookings/future/cancel.html" class="govuk-link">Cancel visit</a></p>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br>

    <p class="govuk-body"><a href="./bookings/" class="govuk-link">View all visits</a></p>

  </div>
</div>

{% endblock %}