{% extends "./layouts/header.html" %}
{% extends "./layouts/footer.html" %}
{% extends "./layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set backLinkHref = true %}
{% set govukRebrand = true %}

{% block header %}
{{ govukHeader({
homepageUrl: "/public",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: serviceName,
serviceUrl: "/public"
}) }}
{% endblock %}

{% block pageTitle %}
Which prison are you visiting? – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p>Needs new autocomplete</p>

        <div class="govuk-button-group">
            {{ govukButton({
            text: "Continue",
            href: "./intro"
            }) }}
        </div>

        <h2 class="govuk-heading-m">What if I don’t know the prisoner’s location?</h2>

        <p>You can <a href="https://www.gov.uk/find-prisoner" class="govuk-link">apply to find the prisoner’s
                location</a>.</p>

    </div>

</div>

{% endblock %}


{% block footer %}

{{ govukFooter({
rebrand: true,
meta: {
items: [
{
href: "/public/mvp+4/support/accessibility-statement",
text: "Accessibility"
},
{
href: "/public/mvp+4/support/cookies",
text: "Cookies"
},
{
href: "/public/mvp+4/support/privacy-notice",
text: "Privacy"
},
{
href: "/public/mvp+4/support/terms-conditions",
text: "Terms and conditions"
}
]
}
}) }}

{% endblock %}