{% extends "/layouts/main.html" %}

{% block pageTitle %}
Privacy notice – {{ serviceName }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Privacy notice</h1>

<p class="govuk-body">The 'Visit someone in prison' service is managed by HM Prison and Probation Service (HMPPS), an executive agency of the Ministry of Justice (MOJ). Our personal information charter explains your rights and how we deal with your personal information.
</p>

<p class="govuk-body">MOJ is the data controller for the personal information we hold.</p>

<p class="govuk-body">A data controller determines how and why personal data is processed. For more information, read the Cabinet Office’s entry in the Data Protection Public Register.
</p>

<p class="govuk-body">You need a GOV.UK One Login to use the service. Read the full GOV.UK One Login privacy notice to find out how it stores, processes and shares your personal information.</p>

<h2 class="govuk-heading-m">What data we collect</h2>

<p class="govuk-body">The personal data we collect from you includes:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an email address and phone number</li>
  <li>the name, date of birth, prison number and location of the person you want to visit</li>
  <li>the names and dates of birth of visitors</li>
</ul>

<p class="govuk-body">If you provide feedback to us, this can include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your email address or other contact details you give us</li>
  <li>any personal information you include in questions, queries or feedback you leave</li>
</ul>

<p class="govuk-body">Information about how you use the site is collected in Google Analytics using cookies and page tagging techniques. It does not contain any personal data and is only collected if you consent to this. It is shared with the Government Digital Service.</p>

<h2 class="govuk-heading-m">Why we need your data</h2>

<p class="govuk-body">We collect your personal data to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>book social visits with prisoners</li>
  <li>inform you of any changes to your bookings</li>
  <li>send text messages to users who request them</li>
  <li>gather feedback to improve the service</li>
  <li>respond to any feedback you send us, if you’ve asked us to</li>
  <li>monitor use of the site to identify security threats</li>
  <li>monitor the performance of the site to identify inefficiencies and errors</li>
</ul>

<p class="govuk-body">We use the information we collect through Google Analytics to see how you use the service and to see how well it performs on your device.</p>

<p class="govuk-body">We do this to help:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>make sure the service is meeting the needs of its users</li>
  <li>make improvements to the service</li>
  <li>make performance improvements to the website, for example improving page load time and data usage</li>
</ul>

<p class="govuk-body">We may also use the data to contact you to offer you the opportunity to take part in future research to improve our services.</p>

<h2 class="govuk-heading-m">Our legal basis for processing your data</h2>

<p class="govuk-body">We collect personal data so that you can request to visit someone in prison. Prisons and Young Offender Institutions need this information to ensure visits are safe and secure for visitors, prisoners and staff.</p>

<p class="govuk-body">The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of the service.</p>

<p class="govuk-body">The legal basis for processing data collected with Google Analytics is your consent.</p>

<h2 class="govuk-heading-m">Who the information may be shared with</h2>





{% endblock %}
