{% extends "/layouts/main.html" %}

{% block pageTitle %}
Terms and conditions – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Terms and conditions</h1>
      
      <p class="govuk-body">By using the ‘visit someone in prison’ service you agree to these terms and conditions.
      </p>
      
      <h2 class="govuk-heading-m">Purpose of these terms and conditions</h2>
      
      <p class="govuk-body">These terms and conditions affect your rights and liabilities under the law. They govern your use of, and relationship with, the ‘visit someone in prison’ service. They don’t apply to other services provided by the Ministry of Justice, or to any other department or service which is linked to in this service.</p>
      
      <p class="govuk-body">We may occasionally update these terms and conditions. This might happen if there’s a change in the law or to the way this service works. We recommend you check this page for any updates.</p>
      
      <p class="govuk-body">If you don’t agree to the terms and conditions set out in this document, you should not use this service.</p>
      
      <h2 class="govuk-heading-m">Applicable law</h2>
      
      <p class="govuk-body">Your use of this service and any dispute arising from its use will be governed by and construed in accordance with the laws of England and Wales.</p>
      
      <h2 class="govuk-heading-m">How to use this service responsibly</h2>
      
      <p class="govuk-body">There are risks in using a shared computer to use this service. It’s your responsibility to be aware of these risks and to avoid using any computer which may leave your personal information accessible to others. You are responsible if you choose to leave a computer unprotected while in the process of making a prison visit request.</p>
      
      <p class="govuk-body">We make every effort to check and test this service whenever we amend or update it. However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.</p>
      
      <p class="govuk-body">You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the system on which our service is stored or any server, computer or database connected to our service. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.</p>
      
      <h2 class="govuk-heading-m">Disclaimer</h2>
      
      <p class="govuk-body">We don’t accept liability for loss or damage incurred by users of this service, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise. This includes loss of income or revenue, business, profits or contracts, anticipated savings, data, goodwill, tangible property or wasted time in connection with this service or any websites linked to it and any materials posted on it. This condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</p>
      
      <p class="govuk-body">This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
    </div>
</div>
      
{% endblock %}
