{% extends "../../layouts/logged-in.html" %}

{% set activeLinkId = "bookings-link" %}

{% block pageTitle %}
Past visits – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Past visits
    </h1>

    <p class="govuk-body">Only bookings made using GOV.UK One Login are shown.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ data['visit-2-date'] }}</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ data['visit-2-time'] }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="./past/past-details" class="govuk-link">View booking details</a></p>

  </div>
</div>

{% endblock %}