{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
    text: 'Online booking',
    href: '/online-booking/online-booking-index',
    active: true
    }, {
    text: 'Assisted digital',
    href: '/assisted-digital/assisted-digital-index.html'
    }]
    }) }}

    <h2 class="govuk-heading-m">
      Register to visit V5
      </br>

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {{ govukTag({
      text: "Ready for UR",
      classes: "govuk-tag--green"
      }) }}
    </h2>

    <p class="govuk-body">What's new:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>New date picker styles</li>
      <li>Continuous booking journey happy path</li>
      <li>Move away from registration</li>
      <li>Lots of updated content</li>
    </ul>

    <form class="form" action="/online-booking/register-to-visit-v5/1start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Happy path prototype (accordion)"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-calendar/1start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Happy path prototype (calendar)"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy1/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - email (accordion)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy1-calendar/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - email (calendar)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy2/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - mixed approval (accordion)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy2-calendar/4visitor-check-answers" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - mixed approval (calendar)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy3/5homepage" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - reserve (accordion)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v5-unhappy3-calendar/5homepage" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Unhappy - reserve (calendar)",
      classes: "govuk-button--secondary"
      }) }}
    </form>

    <p>
      <a href="/online-booking/choose-date-calendar">Date picker - calendar view</a>
    </p>
    
    <hr class="govuk-section-break govuk-section-break--visible">

  </br>

    <h2 class="govuk-heading-m">
      Register to visit V4
      </br>

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {{ govukTag({
      text: "TESTED",
      classes: "govuk-tag--blue"
      }) }}
    </h2>

    <p class="govuk-body">What's new:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Updated registration journey since testing in June 2022</li>
      <li>Inclusion of GOV.UK One Login screens</li>
      <li>Branching question to go through to new service</li>
      <li>One question per page</li>
      <li>Two versions for testing - one with one visitor on the check answers page, the other with two</li>
    </ul>


    <form class="form" action="/online-booking/register-to-visit-v4/start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "View prototype - two visitors"
      }) }}
    </form>

    <form class="form" action="/online-booking/register-to-visit-v4-2/start" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "View prototype - one visitor",
      classes: "govuk-button--secondary"
      }) }}
    </form>
    <hr class="govuk-section-break govuk-section-break--visible">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Old prototypes
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_1_V3/" class="govuk-link">VJ02 Book a visit V3</a></p>
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_1_V2/" class="govuk-link">VJ02 Book a visit V2</a></p>
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_1_V1/" class="govuk-link">VJ02 Book a visit V1</a></p>
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_2_V3/" class="govuk-link">VJ02 Register to book a
            visit V3</a></p>
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_2_V2/" class="govuk-link">VJ02 Register to book a
            visit V2</a></p>
        <p class="govuk-body"><a href="archived/VJ02_book_a_visit_2_V1/" class="govuk-link">VJ02 Register to book a
            visit V1</a></p>
    </details>
  </div>
</div>


{% endblock %}