{% extends "layouts/moj.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageHeaderTitle = "Booker account" %}
{% set breadcrumbs2 = "Manage prison visits" %}
{% set breadCrumb2link = "/dps/visits/" %}

{% block content %}

<h1 class="govuk-heading-l">Booker details</h1>

<p>This information relates to the booker account from GOV.UK One Login.</p>

<h2 class="govuk-heading-m">Booker</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['booker-email'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Reference number
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['booker-reference'] }}
    </dd>
  </div>
</dl>

<p>Linking a visitor lets the booker select the visitor when booking online.</p>

<h2 class="govuk-heading-m">Visitors linked to {{ data['prisoner-name'] }} ({{ data['prison-no'] }}) at {{ data['prison-name'] }}</h2>

<br>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Relationship to prisoner</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['visitor-1-name'] }}</td>
      <td class="govuk-table__cell">Mother</td>
      <td class="govuk-table__cell">{{ data['visitor-1-dob'] }} ({{ data['visitor-1-age'] }} years old)</td>
      <td class="govuk-table__cell">
          <a href="#" class="govuk-link">Unlink</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['visitor-2-name'] }}</td>
      <td class="govuk-table__cell">Brother</td>
      <td class="govuk-table__cell">{{ data['visitor-2-dob'] }} ({{ data['visitor-2-age'] }} years old)</td>
      <td class="govuk-table__cell">
        <a href="#" class="govuk-link">Unlink</a>
      </td>
      </tr>
  </tbody>
</table>

<form action="/dps/visits/bookers/link-visitor" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Link a visitor
  </button>
</form>

{% endblock %}