{% extends "layouts/moj.html" %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% set pageHeaderTitle = "Manage online bookers" %}
{% set breadcrumbs2 = "Manage prison visits" %}
{% set breadCrumb2link = "/dps/visits/" %}

{% block content %}

<div role="region" class="moj-alert moj-alert--success" aria-label="success: vistors linked" data-module="moj-alert">
  <div>
    <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 30 30" height="30" width="30">
      <path
        d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z"
        fill="currentColor" />
    </svg>
  </div>
  <div class="moj-alert__content">Visitor successfully linked</div>
</div>

<h1 class="govuk-heading-l">Manage online bookers</h1>

<h2 class="govuk-heading-m">Search for a booker</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="moj-search">
        <form action="/dps/visits/bookers/results" method="post">
          <div class="govuk-form-group">
            <div id="search-hint" class="govuk-hint moj-search__hint ">
              Enter the booker’s email address
            </div>
            <input class="govuk-input moj-search__input " id="search" name="search" type="search"
              aria-describedby="search-hint">
          </div>
          <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <br>
  <br>

  <h2 class="govuk-heading-m">Requests to link visitors</h1>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Booker email</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Visitor name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Requested on</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['prisoner-name'] }}</td>
          <td class="govuk-table__cell">{{ data['visitor-1-email'] }}</td>
          <td class="govuk-table__cell">{{ data['visitor-1-name'] }}</td>
          <td class="govuk-table__cell">01/02/2026</td>
          <td class="govuk-table__cell">
            <a href="./scenario1/link-visitor.html" class="govuk-link">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['prisoner-name-2'] }}</td>
          <td class="govuk-table__cell">{{ data['visitor-2-email'] }}</td>
          <td class="govuk-table__cell">{{ data['visitor-2-name'] }}</td>
          <td class="govuk-table__cell">26/01/2026</td>
          <td class="govuk-table__cell">
            <a href="./scenario2/link-visitor.html" class="govuk-link">View</a>
          </td>
        </tr>
      </tbody>
    </table>

    {% endblock %}