{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% extends "/online-booking/archived/mvp/support/mvp-footer.html" %}

{% block header %}
  {{ 
      govukHeader({
          homepageUrl: "/",
          serviceName: serviceName,
          serviceUrl: "/",
          containerClasses: "govuk-width-container",
          useTudorCrown: true
      })
}}
{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "k58akkv41l");
</script>
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}