{% extends "../layouts/logged-in.html" %}

{% block pageTitle %} 
  Add visitor information - Visit someone in prison
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Prisoner added
        </h1>
      </div>

      <p>The prisoner details you submitted were successfully matched.</p>
      
      <p>To book a visit for this prisoner, you need to <a href="{{ data['add-a-visitor-url'] }}" target="_blank" class="govuk-link">add visitors</a>.</p>

    </div>
</div>

{% endblock %}
