{% extends "../layouts/homepage-no-visitors.html" %}
{% set activeLinkId = "home-link" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
Book a visit – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Book a visit
    </h1>

    <p>You need to add a prisoner to book a visit.</p>

    <br>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Add a prisoner",
    href: "/public/mvp+3/register/choose-prison.html",
    isStartButton: false
    }) }}

  </div>
</div>

{% endblock %}