{% extends "layouts/moj.html" %}

{% set pageHeaderTitle = "Requested visits" %}
{% set breadcrumbs2 = "Manage prison visits" %}
{% set breadCrumb2link = "/dps/visits/" %}

{% block content %}

<h1 class="govuk-heading-l">Requested visits</h1>

<p class="govuk-body">These requests by online bookers need to be manually checked due to alerts and restrictions.</p>

<p class="govuk-body">They have been automatically checked to make sure:

  <ul class="govuk-list govuk-list--bullet">
    <li>visitors are on the prisoner’s approved visitor list</li>
    <li>the date and time is suitable for the prisoner</li>
    <li>there are no non-associations for the prisoner</li>
  </ul>
</p>

<p class="govuk-body">The visit time has been reserved for these requests. It will be released if the request is rejected.</p>

<p>Requests need to be checked at least 2 days before the visit date. If not, they will be automatically rejected.</p>

<br><br>

  <table class="govuk-table" data-module="moj-sortable-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="none">Visit date</th>
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Requested date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner name</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Prison number</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Main contact</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="1">{{ data['visit-date'] }}</td>
        <td class="govuk-table__cell" data-sort-value="1">{{ data['request-date'] }}</td>
        <td class="govuk-table__cell">{{ data['prisoner-name'] }}</td>
        <td class="govuk-table__cell">{{ data['prison-no'] }}</td>
        <td class="govuk-table__cell">{{ data['visitor-1-name'] }}</td>
        <td class="govuk-table__cell"><a href="../booking/visit-booking-details" class="govuk-link">View</a></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="1">{{ data['visit-date-1'] }}</td>
        <td class="govuk-table__cell" data-sort-value="1">{{ data['request-date-1'] }}</td>
        <td class="govuk-table__cell">{{ data['prisoner-name-2'] }}</td>
        <td class="govuk-table__cell">{{ data['prison-no-2'] }}</td>
        <td class="govuk-table__cell">{{ data['visitor-4-name'] }}</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
      </tr>

    </tbody>
  </table>

{% endblock %}