{% extends "/online-booking/mvp+2/layouts/main.html" %} 
{% block pageTitle %} Privacy notice – {{ serviceName }} {% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if data['languagePreference'] == "en" %}

        <div>
            <h1 class="govuk-heading-l">
                Who are you visiting?
            </h1>
    
            <p class="govuk-body">
                TBC
            </p>
        </div>
    
    {% else %}

        <div>
            <h1 class="govuk-heading-l">
                Pwy ydych chi'n ymweld â nhw?
            </h1>
    
            <p class="govuk-body">
                TBC
            </p>
        </div>

    {% endif %}

{% endblock %}
