{% extends "/online-booking/mvp+2/layouts/main.html" %} 

{% block pageTitle %} 
  Add visitor information - Visit someone in prison
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Prisoner added
        </h1>
      </div>

      <p>The prisoner details you submitted  were successfully matched, and the prisoner was added to your account.</p>
      
      <p>In order to be able to book a visit, you must next add visitors to your account by <a href="{{ data['add-a-visitor-url'] }}" target="_blank" class="govuk-link">completing this form (opens in a new tab)</a>.</p>

    </div>
</div>

{% endblock %}
