{% extends "/online-booking/mvp+2/layouts/main.html" %} 

{% block pageTitle %} 
  Add visitor information - Visit someone in prison
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Add visitor information
      </h1>

      <p>The person you want to book for must be on the prisoner's visitor list.</p>

      <p>Provide information about the visitors you want to add to your account <a href="{{ data['add-a-visitor-url'] }}" target="_blank" class="govuk-link">by completing this form (opens in a new tab)</a>.</p>
      
      <p>We will respond within 5 working days.</p>

    </div>
</div>

{% endblock %}
