{% extends "layouts/moj.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageHeaderTitle = "Link a visitor" %}
{% set breadcrumbs2 = "Manage prison visits" %}
{% set breadCrumb2link = "/dps/visits/" %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Edit a visitor</h1>

        <p class="govuk-body-l">call@a-team.com has provided the details:</p>

        <p class="govuk-body-l"><b>Templeton Peck,</b> born on <b>5 December 1950</b></p>


        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "First name"
        },
        value: {
        text: "Templeton"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Last name"
        },
        value: {
        text: "Peck"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "address"
        }
        ]
        }
        },
        {
        key: {
        text: "Date of birth"
        },
        value: {
        text: "None"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "date of birth"
        }
        ]
        }
        }
        ]
        }) }}

        <form action="../link-reject" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Update and link
          </button>
        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}