{% extends "layouts/moj.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageHeaderTitle = "Link a visitor" %}
{% set breadcrumbs2 = "Manage prison visits" %}
{% set breadCrumb2link = "/dps/visits/" %}

{% block content %}

<h1 class="govuk-heading-l">Link a visitor</h1>

<p class="govuk-body-l">{{ data['booker-email'] }} has requested to link:</p>

<p class="govuk-body-l"><b>{{ data['visitor-2-name'] }},</b> born on <b>{{ data['visitor-2-dob'] }}</b></p>


<h2 class="govuk-heading-m">{{ data['prisoner-name'] }}'s visitors</h2>

<p class="govuk-body">Visitors already linked to this prisoner are not shown.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Select</th>
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Date of birth</th>
      <th class="govuk-table__header" scope="col">Last visit approved on</th>
      <th class="govuk-table__header" scope="col">Action</th>

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-radios__item govuk-radios--large">
          <input type="radio" class="govuk-radios__input">
          <label class="govuk-label govuk-radios__label">
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">{{ data['visitor-2-name'] }}</td>
      <td class="govuk-table__cell">{{ data['visitor-2-dob'] }} ({{ data['visitor-2-age'] }} years old)</td>
      <td class="govuk-table__cell">27 January 2026</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-radios__item govuk-radios--large">
          <input type="radio" class="govuk-radios__input">
          <label class="govuk-label govuk-radios__label">
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">{{ data['visitor-2-name'] }}</td>
      <td class="govuk-table__cell">{{ data['visitor-2-dob'] }} ({{ data['visitor-2-age'] }} years old)</td>
      <td class="govuk-table__cell">27 January 2026</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
    </tr>
  </tbody>
</table>

<form action="/dps/visits/bookers/booker-details-success" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Confirm
  </button>
</form>

{% endblock %}