{% extends "/online-booking/mvp/layouts/mvp-logged-in.html" %}

{% block pageTitle %}
Choose date and time – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="3-reasonable-adjustments" method="post">

      <h1 class="govuk-heading-l">
        Choose date and time
      </h1>

      <p>Select one visit time. It will be reserved for 10 minutes.</p>

      <p>You can book a visit at Foston Hall between 25 May 2024 and 22 June 2024.</p>

      <p>Only times that Jane Smith can attend are shown.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
          <div id="calendar-slot-picker">
            <h2 class="govuk-heading-m">
              May 2024
            </h2>
    
            <ul class="govuk-list calendar-slots">
              <li>M<span class="calendar-slots__day">on</span></li>
              <li>T<span class="calendar-slots__day">ue</span></li>
              <li>W<span class="calendar-slots__day">ed</span></li>
              <li>T<span class="calendar-slots__day">hu</span></li>
              <li>F<span class="calendar-slots__day">ri</span></li>
              <li>S<span class="calendar-slots__day">at</span></li>
              <li>S<span class="calendar-slots__day">un</span></li>
            </ul>
    
            <ul class="govuk-list calendar-slots">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li><a href="#date-25-may">25</a></li>
              <li><a href="#date-26-may">26</a></li>
            </ul>
    
            <ul class="govuk-list calendar-slots">
              <li>27</li>
              <li>28</li>
              <li><a href="#date-29-may">29</a></li>
              <li><a href="#date-30-may">30</a></li>
              <li>31</li>
              <li></li>
              <li></li>
            </ul>
     
            <h2 class="govuk-heading-m">
              June 2024
            </h2>
    
            <ul class="govuk-list calendar-slots">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li><a href="#date-1-june">1</a></li>
              <li><a href="#date-2-june">2</a></li>
            </ul>
    
            <ul class="govuk-list calendar-slots">
              <li>3</li>
              <li>4</li>
              <li><a href="#date-5-june">5</a></li>
              <li><a href="#date-6-june">6</a></li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>10</li>
              <li>11</li>
              <li><a href="#date-12-june">12</a></li>
              <li><a href="#date-13-june">13</a></li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>17</li>
              <li>18</li>
              <li><a href="#date-19-june">19</a></li>
              <li><a href="#date-20-june">20</a></li>
              <li>21</li>
              <li>22</li>
              <li></li>
            </ul>
    
            <br>
    
            <div class="day-slots" id="date-25-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 25 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-26-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 26 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-29-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 29 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-30-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 30 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-31-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 31 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-1-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 1 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-2-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 2 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-5-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 5 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-6-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 6 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-12-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 12 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-13-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 13 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-19-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 19 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <div class="day-slots" id="date-20-june">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 20 June 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>
    
            <button class="govuk-button govuk-!-margin-top-6 calendar-slot-button" data-module="govuk-button">
              Continue
            </button>
    
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
