{% extends "/online-booking/mvp/layouts/mvp-logged-in.html" %}

{% block pageTitle %}
Check the visit details before booking – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="6-confirmation" method="post">

      <h1 class="govuk-heading-l">
        Check the visit details before booking
      </h1>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Visit details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['prisoner-name'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Visitors
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['visitor-1-name'] }} ({{ data['visitor-1-age'] }} years old) 
                    <br>
                  {{ data['visitor-2-name'] }} ({{ data['visitor-2-age'] }} years old)
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/online-booking/mvp/book/1-visitors">Change<span class="govuk-visually-hidden"> visitors</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  Thursday 6 June 2024
                    <br>
                   10am to 11am
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/online-booking/mvp/book/2-choose-date">Change<span class="govuk-visually-hidden"> date and time of visit</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional support
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/online-booking/mvp/book/3-reasonable-adjustments">Change<span class="govuk-visually-hidden"> additional support</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main contact
                </dt>
                <dd class="govuk-summary-list__value">
                  	{{ data['visitor-1-name'] }}
                    <br>
                    {{ data['visitor-1-tel'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/online-booking/mvp/book/4-main-contact">Change<span class="govuk-visually-hidden"> main contact</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


  </div>
</div>

{% endblock %}
