{% extends "/online-booking/mvp/layouts/mvp-logged-in.html" %}

{% block pageTitle %}
Check the visit details before booking – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="6-confirmation" method="post">

      <h1 class="govuk-heading-l">
        Check the visit details before booking
      </h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Visit details"
          }
        },
        rows: [
          {
            key: {
              text: "Prisoner"
            },
            value: {
              html: "{{ data['prisoner-name'] }}"
            },
            actions: {
              items: [
                {
                  visuallyHiddenText: "prisoner"
                }
              ]
            }
          },
          {
            key: {
              text: "Visitors"
            },
            value: {
              html: "{{ data['visitor-1-name'] }} ({ data['visitor-1-age'] }} years old)<br>
                    {{ data['visitor-2-name'] }} ({{ data['visitor-2-age'] }} years old)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "visitors"
                }
              ]
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              html: "Thursday 18 January 2024<br>9am to 10am"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date and time"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional support"
            },
            value: {
              html: "None"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "support"
                }
              ]
            }
          },
          {
            key: {
              text: "Main contact"
            },
            value: {
              html: "{{ data['visitor-1-name'] }}<br>0789085627"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact"
                }
              ]
            }
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


  </div>
</div>

{% endblock %}
