{% extends "layouts/mvp-logged-in.html" %}

{% block pageTitle %}
Check the visit details before booking – {{ serviceName }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="6-confirmation" method="post">

      <h1 class="govuk-heading-l">
        Check the visit details before booking
      </h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Visit details"
          }
        },
        rows: [
          {
            key: {
              text: "Prisoner"
            },
            value: {
              html: "Jane Smith"
            },
            actions: {
              items: [
                {
                  visuallyHiddenText: "prisoner"
                }
              ]
            }
          },
          {
            key: {
              text: "Visitors"
            },
            value: {
              html: "Neil Name (39 years old)<br>Michael Name (15 years old)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "visitors"
                }
              ]
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              html: "Thursday 18 January 2024<br>9am to 10am"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date and time"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional support"
            },
            value: {
              html: "None"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "support"
                }
              ]
            }
          },
          {
            key: {
              text: "Main contact"
            },
            value: {
              html: "Neil Name<br>0789085627"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact"
                }
              ]
            }
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


  </div>
</div>

{% endblock %}