{% extends "../layouts/header.html" %}
{% extends "../layouts/footer.html" %}
{% extends "../layouts/banner.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set backLinkHref = true %}

{% block pageTitle %} 
    Privacy notice – {{ serviceName }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Privacy notice</h1>

        <p class="govuk-body">The 'Visit someone in prison' service is managed by HM Prison and Probation Service (HMPPS), an executive agency of the Ministry of Justice (MOJ). Our <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter" class="govuk-link">personal information charter</a> explains your rights and how we deal with your personal information.
        </p>

        <p class="govuk-body">MOJ is the data controller for the personal information we hold.</p>

        <p class="govuk-body">A data controller determines how and why personal data is processed. For more information, read the Cabinet Office’s entry in the <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053" class="govuk-link">Data Protection Public Register</a>.
        </p>

        <p class="govuk-body">You need a GOV.UK One Login to use the service. Read the <a href="https://signin.account.gov.uk/privacy-notice" class="govuk-link">full GOV.UK One Login privacy notice</a> to find out how it stores, processes and shares your personal information.</p>

        <h2 class="govuk-heading-m">What data we collect</h2>

        <p class="govuk-body">The personal data we collect from you includes:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>an email address and phone number</li>
            <li>the name, date of birth, prison number and location of the person you want to visit</li>
            <li>the names and dates of birth of visitors</li>
        </ul>

        <p class="govuk-body">If you provide feedback to us, this can include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>your email address or other contact details you give us</li>
            <li>any personal information you include in questions, queries or feedback you leave</li>
        </ul>

        <p class="govuk-body">Information about how you use the site is collected in Google Analytics using cookies and page tagging techniques. It does not contain any personal data and is only collected if you <a href="cookies" class="govuk-link">consent</a> to this. It is shared with the Government Digital Service.</p>

        <h2 class="govuk-heading-m">Why we need your data</h2>

        <p class="govuk-body">We collect your personal data to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>book social visits with prisoners</li>
            <li>inform you of any changes to your bookings</li>
            <li>send text messages to users who request them</li>
            <li>gather feedback to improve the service</li>
            <li>respond to any feedback you send us, if you’ve asked us to</li>
            <li>monitor use of the site to identify security threats</li>
            <li>monitor the performance of the site to identify inefficiencies and errors</li>
        </ul>

        <p class="govuk-body">We do this to help:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>make sure the service is meeting the needs of its users</li>
            <li>make improvements to the service</li>
            <li>make performance improvements to the website, for example improving page load time and data usage</li>
        </ul>

        <p class="govuk-body">We may also use the data to contact you to offer you the opportunity to take part in future research to improve our services.</p>

        <h2 class="govuk-heading-m">Our legal basis for processing your data</h2>

        <p class="govuk-body">We collect personal data so that you can request to visit someone in prison. Prisons and Young Offender Institutions need this information to ensure visits are safe and secure for visitors, prisoners and staff. Our legal basis for collecting this data is that it is necessary for performing this public task.</p>

        <p class="govuk-body">The legal basis for processing data collected with Google Analytics is your consent.</p>

        <h2 class="govuk-heading-m">Who the information may be shared with</h2>

        <p class="govuk-body">The data we collect may be shared with other government departments, agencies and public bodies. It may also be shared with our technology suppliers, for example our hosting provider.</p>

        <p class="govuk-body">The organisations we share personal information with are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.notifications.service.gov.uk/" class="govuk-link">GOV.UK Notify</a> to send texts and emails. See their <a href="https://www.notifications.service.gov.uk/privacy" class="govuk-link">privacy notice</a>.</li>
            <li><a href="https://www.notifications.service.gov.uk/privacy" class="govuk-link">MOJ Forms</a> to collect feedback. See their <a href="https://moj-forms.service.justice.gov.uk/terms-of-use/" class="govuk-link">terms of use</a>.</li>
        </ul>

        <p class="govuk-body">The data we collect with Google Analytics cookies is transferred and stored with Google where we analyse it with Google Analytics software (Universal Analytics). We do not allow Google to use or share this data for their own purposes.</p>

        <p class="govuk-body">We may share your information with our agents or representatives, so they can manage your bookings. Our agents or representatives will only use your personal data in line with what we have set out in this privacy notice.</p>

        <p class="govuk-body">We will not:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>sell or rent your data to third parties</li>
            <li>share your data with third parties for marketing purposes</li>
        </ul>

        <p class="govuk-body">We will share your data if we are required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>

        <h2 class="govuk-heading-m">How long we keep data</h2>

        <p class="govuk-body">Data is retained for seven years in accordance with <a href="https://www.gov.uk/government/publications/records-information-management-policy-psi-042018-pi-022018" class="govuk-link">HMPPS retention policy</a>.</p>

        <h2 class="govuk-heading-m">Where your data is processed and stored</h2>

        <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored.</p>

        <p class="govuk-body">All personal data is stored in the <a href="https://www.gov.uk/eu-eea" class="govuk-link">European Economic Area</a> (EEA). Data collected by Google Analytics may be transferred outside the EEA for processing.</p>

        <p class="govuk-body">Where data processing happens in the US, suppliers need to meet the certification standards set out in the <a href="https://www.gov.uk/government/publications/uk-us-data-bridge-supporting-documents/uk-us-data-bridge-explainer" class="govuk-link">UK-US data bridge</a> agreement. This facilitates flows of personal data to certified US companies that have opted in to the EU-US Data Privacy
            Framework.</p>

        <h2 class="govuk-heading-m">How we protect your data and keep it secure</h2>

        <p class="govuk-body">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption.</p>

        <p class="govuk-body">We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>

        <h2 class="govuk-heading-m">Your rights</h2>

        <p class="govuk-body">Your rights are set out in the <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter" class="govuk-link">Ministry of Justice personal information charter</a>.</p>
        
        <p class="govuk-body">For more information please contact the Data Protection Team.</p>

        <h3 class="govuk-heading-s">Email</h3>

        <p class="govuk-body"><a href="mailto:DPO@justice.gov.uk" class="govuk-link">DPO@justice.gov.uk</a></p>

        <h3 class="govuk-heading-s">Post</h3>

        <p class="govuk-body">
            Data Protection Team<br>
            Ministry of Justice<br>
            5th Floor, Post Point 5.18<br>
            102 Petty France<br>
            London<br>
            SW1H 9AJ
        </p>

        <h3 class="govuk-heading-s">Access to personal information</h3>

        <p class="govuk-body">You can find out if we hold any personal data about you by making a ‘subject access request’. This process is set out in the <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter" class="govuk-link">Ministry of Justice personal information charter</a>.</p>     

        <h2 class="govuk-heading-m">Make a complaint</h2>

        <p class="govuk-body">When we ask you for information, we will keep to the law. If you think that your information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection.</p>

        <h3 class="govuk-heading-s">Email</h3>

        <p class="govuk-body"><a href="mailto:icocasework@ico.org.uk" class="govuk-link">icocasework@ico.org.uk</a></p>
        
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0303 123 1113</p>

        <h3 class="govuk-heading-s">Textphone</h3>
        <p class="govuk-body">01625 545860</p>
        <p class="govuk-body">Monday to Friday, 9am to 4:30pm<br>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>

        <h3 class="govuk-heading-s">Post</h3>

        <p class="govuk-body">
            Information Commissioner's Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF
        </p>

        <h2 class="govuk-heading-m">Changes to this notice</h2>

        <p class="govuk-body">We may change this privacy notice. In that case, the 'last updated' date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.</p>
        
        <p class="govuk-body">If these changes affect how your personal data is processed, MOJ will take reasonable steps to let you know.</p>    

        <p class="govuk-body">Last updated on 5 July 2024.</p>
        
    </div>
</div>

{% endblock %}
