{% extends "layouts/main.html" %}


{% block pageTitle %}
  Who do you want to visit?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{{ govukRadios({
  
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Confirm the person you want to visit",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  
  items: [
    {
      value: "yes",
      text: "Joe Bloggs (Belmarsh prison)"
    }
  ]
}) }}


      <form class="form" action="addvisitors" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
