{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/public/UT-052025/support/accessibility-statement",
          text: "Accessibility"
        },
        {
          href: "/public/UT-052025/support/cookies",
          text: "Cookies"
        },
        {
          href: "/public/UT-052025/support/privacy-notice",
          text: "Privacy"
        },
        {
          href: "/public/UT-052025/support/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}

{% endblock %}
