{% extends "/online-booking/mvp/layouts/main.html" %}

{% block pageTitle %}
Assessiblity statement – {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Accessibility statement</h1>
        <p class="govuk-body">This accessibility statement applies to content published on the prison-visits.service.justice.gov.uk domain.</p>
        <p class="govuk-body">This website is run by HM Prison and Probation Service (HMPPS). We want as many people as possible to be able to use this website.</p>
        <p class="govuk-body">It is currently in a pilot stage and has not been fully tested for accessibility. An accessibility audit is planned for summer 2024.
</p>
        <p class="govuk-body">We will make improvements to accessibility as we find issues.</p>
        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

        <h2 class="govuk-heading-m">Feedback</h2>
        <p class="govuk-body">If you find any problems or think we’re not meeting accessibility requirements, you can send us feedback.</p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS).</a></p>

        <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
        <p class="govuk-body">HMPPS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">This statement was prepared on 29 May 2024.</p>

    </div>
</div>

{% endblock %}
