{% extends "layouts/main.html" %}
{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Visit someone in prison",
    
    activeLinkId: 'servicelink3'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="5choose-visitors" method="post">

        <h1 class="govuk-heading-l">
         Prison visits
        </h1>

      <a href="5choose-visitors" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Book a prison visit
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
      </form>

      <hr class="govuk-section-break govuk-section-break--visible">
    </br>
    <div class="card card--clickable" data-test="global-search">
      <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Bookings</a>
      </h2>
      <p class="govuk-body card__description">Check the details of your visits</p>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible">
</br>

    <div class="card card--clickable" data-test="global-search">
      <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Visitor details</a>
      </h2>
      <p class="govuk-body card__description">View details of visitors you can book for</p>
  </div>
   <hr class="govuk-section-break govuk-section-break--visible">
  </br>

 






    </div>
  </div>

{% endblock %}
