{% extends "layouts/main.html" %}

{% block pageTitle %}
  Booking complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Booking complete</h1>
        <div class="govuk-panel__body">
          Your booking reference number is<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email. 
      </p>

      <form class="form" action="dashboard" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">View in my account</button>

      </form>

      <h2 class="govuk-heading-l">What happens next</h2>

      <p><strong>HMP Belmarsh have been informed about your visit with Joe Bloggs at 12:00pm on the 16 November 2021.</strong></p>
      <p>You can <a href="index">cancel</a> or <a href="index">change</a> your booking up to 48 hours before your visit.</p>

      <h2 class="govuk-heading-m">Before your visit:</h2>
      <p><a href="/">Check you have the correct ID</a></p>

      <p><a href="https://www.gov.uk/guidance/belmarsh-prison">HMP Belmarsh</a>
        <br>Western Way
        <br>Thamesmead
        <br>London
        <br>SE28 0EB</p>

        <p><a href="https://goo.gl/maps/WVmtNt7AbfodthS39">See map</a></p>

        <h2 class="govuk-heading-m">Other services you might be interested in</h2>
        <p>If you’re visiting a family member, partner or someone who doesn’t have other visitors, and you get certain benefits, you may be able to <a href="https://www.gov.uk/help-with-prison-visits">get help with the cost of prison visits</a></p>

        <p>You can use the free and fast online service to <a href="https://www.gov.uk/send-prisoner-money">send money to someone in prison</a>. Money can be sent in through the post by cheque or postal order if made payable to HMPPS or NOMS Agency.</p>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
