{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Download service data</h1>

<p class="govuk-body">New data reports are published at midnight every day. Reports contain data for one day. The reports are in a CSV file.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Date</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Monday 30 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sunday 29 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Saturday 28 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Friday 27 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Thursday 26 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Wednesday 25 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Tuesday 24 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Monday 23 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sunday 22 May 2023</td>
      <td class="govuk-table__cell" data-sort-value="6961"><a href="#" class="govuk-link">Download</a></td>
    </tr>

  </tbody>
</table>

 

{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{{ mojPagination({
  previous: {
    text: 'Previous',
    href: '#'
  },
  next: {
    text: 'Next',
    href: '#'
  }
}) }}


{% endblock %}
