{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

     
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Online booking',
    href: 'online-booking-index.html'
  }, {
    text: 'Assisted digital',
    href: '#',
    active: true
  }, {
    text: 'Staff-facing',
    href: 'staff-facing-index'
  }]
}) }}
      

      

    </div>

    
  </div>
{% endblock %}
