{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {%- from "moj/components/banner/macro.njk" import mojBanner -%}

      {% set bannerHtml %}
        <h2 class="govuk-heading-m">This page is under construction</h2>
      {% endset %}
      
      {{ mojBanner({
        type: 'information',
        html: bannerHtml
      }) }}

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

     
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Online booking',
    href: 'online-booking-index.html'
  }, {
    text: 'Assisted digital',
    href: '#',
    active: true
  }, {
    text: 'Staff-facing',
    href: 'staff-facing-index'
  }]
}) }}
      

      

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Design history
              </a>
            </li>
            <li>
              <a href="#">
                Figma
              </a>
            </li>
            <li>
              <a href="#">
                Miro
              </a>
            </li>
            
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
