{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Visits - Prototypes
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}
    
    {{ xGovukMasthead({
    
      classes: "x-govuk-masthead–large",
      
      title: {
      
      text: "Visit prototypes"
      
      },
      
      description: {
      
      text: "The Visits team will deliver services that will enable staff, friends and family to book and manage prison visits - through a safer, simpler, smarter services."
      
      }
    
    }) }}

    {% endblock %}


    {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-m">
          <a href="/online-booking" class="govuk-link">Visit someone in prison</a>
        </h1>
        <strong class="govuk-tag govuk-tag--yellow">
          Private Beta <br><br>
        </strong>
        <p class="govuk-body">
          The public service that will replace the existing booking request service.
        </p>
      </div>


      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-m">
          <a href="/assisted-digital" class="govuk-link">
            Digital Prison Services 
          </a>
        </h1>
        <strong class="govuk-tag govuk-tag--orange">
          Public Beta <br><br>
        </strong>
        <p class="govuk-body">
          The staff service currently being rolled out across the prison estate.
        </p>
      </div>
    </div>

    {% endblock %}
