{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {%- from "moj/components/banner/macro.njk" import mojBanner -%}

      {% set bannerHtml %}
        <h2 class="govuk-heading-m">This page is under construction</h2>
      {% endset %}
      
      {{ mojBanner({
        type: 'information',
        html: bannerHtml
      }) }}

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      
      
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Online booking',
          href: '#',
          active: true
        }, {
          text: 'Assisted digital',
          href: 'assisted-digital-index.html'
        }, {
          text: 'Staff-facing',
          href: 'staff-facing-index.html'
        }]
      }) }}

          <h2 class="govuk-heading-m">
            Book a visit v5
          </br>

            {%- from "govuk/components/tag/macro.njk" import govukTag -%}
            {{ govukTag({
            text: "Ready for UR",
            classes: "govuk-tag--purple"
            }) }}
          </h2>

          <p class="govuk-body">What's new:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>New calendar component</li>
            </ul>
          

          <form class="form" action="/online-booking/book-a-visit-v1/start" method="post">
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "View prototype"
          }) }}
        </form>
          <hr class="govuk-section-break govuk-section-break--visible">
      </br>

          <h2 class="govuk-heading-m">
            Book a visit v4
          </br>

            {%- from "govuk/components/tag/macro.njk" import govukTag -%}
            {{ govukTag({
            text: "Tested",
            classes: "govuk-tag--turquoise"
            }) }}
          </h2>

          <p class="govuk-body">What's new:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>New calendar component</li>
            </ul>
          

          <form class="form" action="/online-booking/book-a-visit-v1/start" method="post">
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "View prototype"
          }) }}
        </form>
          <hr class="govuk-section-break govuk-section-break--visible">
         
          <div>
      </div>
    </br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Old prototypes
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_1_V3/" class="govuk-link">VJ02 Book a visit V3</a></p>
          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_1_V2/" class="govuk-link">VJ02 Book a visit V2</a></p>
          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_1_V1/" class="govuk-link">VJ02 Book a visit V1</a></p>

          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_2_V3/" class="govuk-link">VJ02 Register to book a visit V3</a></p>
          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_2_V2/" class="govuk-link">VJ02 Register to book a visit V2</a></p>
          <p class="govuk-body"><a href="online-booking/archived/VJ02_book_a_visit_2_V1/" class="govuk-link">VJ02 Register to book a visit V1</a></p>


        </details>
      
    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Design history
              </a>
            </li>
            <li>
              <a href="#">
                Figma
              </a>
            </li>
            <li>
              <a href="#">
                Miro
              </a>
            </li>
            
          </ul>
        </nav>
      </aside>

    </div>

    
  </div>

 
{% endblock %}
