{% extends "layouts/main.html" %}

{% block pageTitle %}
  One Login– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a GOV.UK One Login or sign in
      </h1>

      <p>You'll need</p>
      <ul class="govuk-list govuk-list--bullet"">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        
      </ul>

      <div class="govuk-inset-text">
        The GOV.UK One Login is also available in <a href="#">Welsh (Cymraeg)</a>.
      </div>

   

      <form class="form" action="2one-login-email" method="post">

        <button class="govuk-button" data-module="govuk-button">Create a GOV.UK One Login</button>

      </form>

     
      <p>If you already have a GOV.UK One Login you can <a href="#">sign in</a>.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About GOV.UK One Login
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>GOV.UK One Login is new. At the moment you can only use your GOV.UK One Login with:</p>
        
          <ul class="govuk-list govuk-list--bullet"">
            <li>Apply for a vehicle operator licence</li>
            <li>GOV.UK email subscriptions</li>
            <li>LITE (Licensing for International Trade and Enterprise)</li>
            <li>Request a basic DBS check</li>
          </ul>
        <p> GOV.UK One Login is currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
        

          <p>In the future, you'll be able to use your GOV.UK One Login to sign in to most services on GOV.UK.</p>
        </div>

        
      </details>
    </div>

    
  </div>

{% endblock %}
