{% extends "layouts/main.html" %}

{% block pageTitle %}
  One Login – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose how to get security codes
      </h1>

      <div id="account-number-hint" class="govuk-hint">
        To finish creating your account, choose a way to prove it’s you when you sign in. 
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Text message
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Authenticator app for smartphone, tablet or computer
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is an authenticator app?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>
            <p>You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p>
        
        </details>

      <form class="form" action="2one-login-mobile-number" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
