{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">Registration sent</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>
       
      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {{ govukTag({
      text: "In progress",
      classes: "govuk-tag--purple"
      }) }}
      
      <p>
        We have sent you a confirmation text message.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>HMP Hewell will review your details.</p>
      <p>There is no need to contact the prison for updates. They will contact you either to confirm your registration, or to ask for more information.</p>
      <div class="govuk-inset-text">
        Approving registrations typically takes one to three weeks.
      </div>
      <p>Once approved by the prison, you can book a visit online using your account.</p>
      
      <h2 class="govuk-heading-m">Go to your account</h2>
      <p>You can <a href="#">view the latest updates on your registration in your account</a>. </p>

      <h2 class="govuk-heading-m">Give us feedback</h2>
      <p><a href="#">What do you think about registering? </a>(takes 30 seconds) </p>

      <h2 class="govuk-heading-m">Visits at Hewell</h2>
      <p><a href="#">View the prison page for HMP Hewell</a>.</p>
      <p>It includes:</p>

      <ul class="govuk-list govuk-list--bullet"">
        <li>information on visitor facilities</li>
        <li>how to get to the prison</li>
        <li>contact details</li>
      </ul>

      <h2 class="govuk-heading-m">Help with the costs of prison visits</h2>

      <p>You may be able to <a href="#">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>

    </div>
  </div>

{% endblock %}
