{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose date – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="5reasonable-adjustments" method="post">


       
        <h1 class="govuk-heading-l">
          When do you want to visit?
        </h1>

          
        <p>You can book visits at Drake Hall (HMP & YOI) between 14 December 2023 and 11 January 2024.</p>

        <p>Only times that Jane Smith can attend are shown.</p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Thursday 14 December 2023
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                        10am to 11am (1 hour)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                        2pm to 4pm (2 hours)
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

          <div class="day-slots" id="date-16-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Saturday 16th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-17-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Sunday 17th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-20-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Wednesday 20th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-21-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Thursday 21st December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-23-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Saturday 23rd December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-24-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Sunday 24th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-27-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Wednesday 27th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-28-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Thursday 28th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-30-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Saturday 30th December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-31-dec">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Sunday 31st December 2023",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-3-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Wednesday 3rd January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-4-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Thursday 4th January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-6-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Saturday 6th January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-7-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Sunday 7th January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-10-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Wednesday 10th January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>

          <div class="day-slots" id="date-11-jan">
            {{ govukRadios({
              name: "slots",
              fieldset: {
                legend: {
                  text: "Thursday 11th January 2024",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "", text: "10am to 11am (1 hour)" },
                { value: "", text: "2pm to 3pm (1 hour)" }
              ]
            }) }}
          </div>
        
          <div class="floating-button" >
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>

      </form>

    </div>
  </div>

{% endblock %}
