{% extends "/online-booking/mvp+3/layouts/one-login.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %} 
  Enter your email address - GOV.UK One Login
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your email address to sign in to your GOV.UK One Login
      </h1>

      {{ govukInput({
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        autofocus: true,
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "./password"
      }) }}

    </div>
</div>

{% endblock %}