{% extends "/online-booking/mvp+2/layouts/one-login.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% block pageTitle %} 
  Enter your password - GOV.UK One Login
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your password
      </h1>
      
      {{ govukPasswordInput({
        id: "password-input",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "./check-phone"
      }) }}

      <p>
        <a href="#" class="govuk-link">I’ve forgotten my password</a>
      </p>

    </div>
</div>

{% endblock %}