{% extends "./footer.html" %}
{% extends "./banner.html" %}

{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set homepageLink = "/" %}
{% set oneLoginLink = "/" %}
{% set signOutLink = "/" %}
{% set navigationItems = [
  {
    href: "/online-booking/mvp+1/",
    text: 'Home',
    id: 'home-link'
  },{
    href: "/online-booking/mvp+1/bookings/",
    text: 'Bookings',
    id: 'bookings-link'
  },{
    href: "/online-booking/mvp+1/visitors",
    text: 'Visitors',
    id: 'visitors-link'
  }
  ]
%}

{% set serviceName = "Visit someone in prison" %}