{% extends "./footer.html" %}
{% extends "./banner.html" %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{{ govukHeader({
  classes: "govuk-header--full-width-border"

}) }}


{{ govukServiceNavigation({
  serviceName:  serviceName,
  serviceUrl: "/"
}) }}

{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}
