{% block content %}
    <form class="form" action="3-reasonable-adjustments" method="post">

      <h1 class="govuk-heading-l">
        When do you want to visit?
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div id="calendar-slot-picker">
            <h2 class="govuk-heading-m">
              April 2024
            </h2>

            <ul class="govuk-list calendar-slots">
              <li>M<span class="calendar-slots__day">on</span></li>
              <li>T<span class="calendar-slots__day">ue</span></li>
              <li>W<span class="calendar-slots__day">ed</span></li>
              <li>T<span class="calendar-slots__day">hu</span></li>
              <li>F<span class="calendar-slots__day">ri</span></li>
              <li>S<span class="calendar-slots__day">at</span></li>
              <li>S<span class="calendar-slots__day">un</span></li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li><a href="#date-6-apr">6</a></li>
              <li><a href="#date-7-apr">7</a></li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>8</li>
              <li>9</li>
              <li><a href="#date-10-apr">10</a></li>
              <li><a href="#date-11-apr">11</a></li>
              <li>12</li>
              <li><a href="#date-13-apr">13</a></li>
              <li><a href="#date-14-apr">14</a></li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li><a href="#date-20-apr">20</a></li>
              <li><a href="#date-21-apr">21</a></li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>22</li>
              <li><a href="#date-23-apr">23</a></li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li><a href="#date-27-apr">27</a></li>
              <li>28</li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>29</li>
              <li>30</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <h2 class="govuk-heading-m">
              May 2024
            </h2>

            <ul class="govuk-list calendar-slots">
              <li></li>
              <li></li>
              <li><a href="#date-1-may">1</a></li>
              <li><a href="#date-2-may">2</a></li>
              <li>3</li>
              <li><a href="#date-3-may">4</a></li>
              <li><a href="#date-4-may">5</a></li>
            </ul>

            <ul class="govuk-list calendar-slots">
              <li>6</li>
              <li>7</li>
              <li><a href="#date-8-may">8</a></li>
              <li><a href="#date-9-may">9</a></li>
              <li>10</li>
              <li></li>
              <li></li>
            </ul>

            <br>

            <div class="day-slots" id="date-1-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 1 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-2-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Tuesday 2 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-3-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 3 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-4-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 4 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-5-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 5 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-6-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 6 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-7-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 7 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-8-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 8 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-9-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Tuesday 9 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-10-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 10 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-11-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 11 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-12-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 12 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-13-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday13 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-14-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 14 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-15-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 15 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-16-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Tuesday 16 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-17-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 17 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-18-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 18 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-19-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 19 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-20-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 20 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-21-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 21 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-22-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 22 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-23-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Tuesday 23 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-24-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 24 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-25-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 25 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-26-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 26 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-27-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 27 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-28-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 28 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-29-apr">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 29 April 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-1-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 1 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-2-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 2 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-3-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 3 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-4-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Saturday 4 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-5-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Sunday 5 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-6-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Monday 6 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-7-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Tuesday 7 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-8-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Wednesday 8 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-9-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Thursday 9 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <div class="day-slots" id="date-10-may">
              {{ govukRadios({
              name: "slots",
              fieldset: {
              legend: {
              text: "Friday 10 May 2024",
              classes: "govuk-fieldset__legend--m"
              }
              },
              items: [
              { value: "", text: "10am to 11am (1 hour)" },
              { value: "", text: "2pm to 3pm (1 hour)" }
              ]
              }) }}
            </div>

            <button class="govuk-button govuk-!-margin-top-6 calendar-slot-button" data-module="govuk-button">
              Continue
            </button>

          </div>
        </div>
      </div>
</form>
{% endblock %}