{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/online-booking/mvp/support/cookies",
        text: "Cookies"
      },
      {
        href: "/online-booking/mvp/support/privacy-notice",
        text: "Privacy"
      },
      {
        href: "/online-booking/mvp/support/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "/online-booking/mvp/support/terms-conditions",
        text: "Terms and conditions"
      }
    ]
  }
}) }}
{% endblock %}