{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle -%}
  {% if pageHeaderTitle %}
  {{ pageHeaderTitle }} - DPS
  {% endif %}
{%- endblock %}

{% block beforeContent %}
  {% if breadcrumbs%}
  {{ govukBreadcrumbs({
    collapseOnMobile: true,
    items: [
      {
        text: "Digital Prison Services",
        href: "/dps/visits"
      }
    ]
  }) }}
  {% endif %}

  {% if breadcrumbs2%}
  {{ govukBreadcrumbs({
    collapseOnMobile: true,
    items: [
      {
        text: "Digital Prison Services",
        href: "/dps/visits"
      },
      {
        text: breadcrumbs2,
        href: breadCrumb2link
      }
    ]
  }) }}
  {% endif %}

  {% if breadcrumbs3%}
  {{ govukBreadcrumbs({
    collapseOnMobile: true,
    items: [
      {
        text: "Digital Prison Services",
        href: "/dps/visits"
      },
      {
        text: breadcrumbs2,
        href: breadCrumb2link
      },
      {
        text: breadCrumb3,
        href: breadCrumb3link
      }
    ]
  }) }}
  {% endif %}

  {% if backLinkHref %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: "Digital Prison Services",
    href: "/dps/visits"
  },
  navigation: {
    label: "Prison",
    items: [{
      text: "Hewell (HMP)",
      href: "/dps/visits",
      active: true
    }, {
      text: "J. Smith",
      href: "/dps/visits"
    }]
  }
}) }}
{% endblock %}
