{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{%- from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher -%}

{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '/dps'
  }
  }) 
}}
{% endblock %}

{% block beforeContent %}
  {{ mojOrganisationSwitcher({
    text: 'Buckley Hall (HMP)',
    link: {
      text: 'Change prison',
      href: '/dps'
    }
}) }}
{% endblock %}
