{% extends "layouts/mvp-footer" %}

{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set homepageLink = "/" %}
{% set oneLoginLink = "/" %}
{% set signOutLink = "/" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "k58akkv41l");
</script>
{% endblock %}

