{% extends "layouts/main.html" %}

{% block pageTitle %}
  Booking details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="searchresults" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Booking details</h1>
     
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Prisoner details</caption>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">Aarell Dublosek</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 January 1979</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prison number</th>
            <td class="govuk-table__cell">ABC1245D</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Establishment</th>
            <td class="govuk-table__cell">HMP Wayland</td>
          </tr>
          
          
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Visitors</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date of birth</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Contact number</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lead visitor</th>
            <td class="govuk-table__cell">Sarah Philips</td>
            <td class="govuk-table__cell">1 January 1970</td>
            <td class="govuk-table__cell">123 Highbury Hill, London</td>
            <td class="govuk-table__cell">N5 1AT</td>
            <td class="govuk-table__cell">07748 533 444</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Visitor 2</th>
            <td class="govuk-table__cell">John Philips</td>
            <td class="govuk-table__cell">2 March 1990</td>
            <td class="govuk-table__cell">123 Highbury Hill, London</td>
            <td class="govuk-table__cell">N5 1AT</td>
            <td class="govuk-table__cell">None</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Visitor 3</th>
            <td class="govuk-table__cell">Tim Philips</td>
            <td class="govuk-table__cell">4 September 2000</td>
            <td class="govuk-table__cell">123 Highbury Hill, London</td>
            <td class="govuk-table__cell">N5 1AT</td>
            <td class="govuk-table__cell">None</td>
          </tr>
        </tbody>
      </table>
      

      <h2 class="govuk-heading-m">Date and time</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            Friday 8 October
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time
          </dt>
          <dd class="govuk-summary-list__value">
            9:00am
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> time</span>
            </a>
          </dd>
        </div>
      
        
      </dl>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
            Comment box
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          For any internal comments about the booking.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        <a href="addremovevisitors"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save comment
        </button></a>
      </div>

      <div class="moj-timeline">

        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Booking amended</h2>
      
            <p class="moj-timeline__byline">by Joe Bloggs</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:15:00.000Z">28 September 2021 at 10:15am</time>
          </p>
      
        </div>
      
        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Booking made</h2>
      
            <p class="moj-timeline__byline">by Julia Smith</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-05-21T13:15:00.000Z">21 September 2021 at 1:15pm</time>
          </p>

        </div>
      </div>
      

      <a href="editbooking"><button class="govuk-button govuk-button" data-module="govuk-button">
        Edit booking
      </button></a><br>

      <a href="cancelbooking"><button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Cancel booking
      </button></a>
</div>
</div>


  



{% endblock %}
