{% extends "layouts/moj.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
         <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Visit requests</h2>
          <p class="govuk-body">Confirm or reject booking requests.</p>
         </section>
      </article>
  </div>
</div>

<ul class="govuk-grid-row card-group">
   <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="global-search">
         <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link" href="index">Visit requests</a>
         </h2>
         <p class="govuk-body card__description">Confirm or reject booking requests.</p>
      </div>
   </li>
   <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="covid-units">
         <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link" href="search">Book a prison visit</a>
         </h2>
         <p class="govuk-body card__description">Book a prison visit for a visitor.</p>
      </div>
   </li>
   <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
         <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link" href="search">Find a booked visit</a>
         </h2>
         <p class="govuk-body card__description">Cancel or make changes to an exisiting visit booking</p>
      </div>
   </li>
   <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="change-someones-cell">
         <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link" href="index">Manage visit schedule</a>
         </h2>
         <p class="govuk-body card__description">Create, update or remove time slots.</p>
      </div>
   </li>
   <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="bulk-appointments">
         <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link" href="index">Manage rooms</a>
         </h2>
         <p class="govuk-body card__description">View and update the list of visit rooms in the prison.</p>
      </div>
   </li>
</ul>
{% endblock %}
